@*
    Component for answer to current attachment
*@

@using dblu.Docs.Models
@using Microsoft.AspNetCore.Http;
@inject dblu.Portale.Plugin.Docs.Services.MailService _MailService
@inject IHttpContextAccessor _HttpContextAccessor
@inject ILogger<MailForward> _Logger

<SfSpinner @bind-Visible="IsSpinnerVisible">
</SfSpinner>

<div class="row form-group">
    <div class="col-2">
        <label>A:</label>
    </div>
    <div class="col-10">
        <SfTextBox @bind-Value="@To" Placeholder="Destinatario"></SfTextBox>
    </div>
</div>
<div class="row form-group">
    <div class="col-2">
        <label>CC:</label>
    </div>
    <div class="col-10">
        <MultiSelectUserMails @bind-nEmails="@CC"></MultiSelectUserMails>
    </div>
</div>
<div class="row form-group">
    <div class="col-2">
        <label>Oggetto:</label>
    </div>
    <div class="col-10">
        <SfTextBox @bind-Value="Subject" Placeholder="Oggetto"></SfTextBox>
    </div>
</div>
<div class="row form-group">
    <div class="col-2">
        <label>Testo:</label>
    </div>
    <div class="col-10">
        <SfTextBox Multiline="true" @bind-Value="@Body" Placeholder="Testo"></SfTextBox>
    </div>
</div>
<div class="row form-group">
    <div class="col-2">
        <label>Allega Originale</label>
    </div>
    <div class="col-4">
        <SfSwitch @bind-Checked="@IncludeSource"></SfSwitch>
    </div>
    <div class="col-2">
        <label>Chiudi email</label>
    </div>
    <div class="col-3">
        <SfSwitch @bind-Checked="@CloseEmail"></SfSwitch>
    </div>
</div>
<div class="row">
    <div class="col">
        <SfButton OnClick="OnSend" CssClass="e-primary">Invia</SfButton>
        <SfButton OnClick="OnGoBack">Indietro</SfButton>
    </div>
</div>

@code {
    /// <summary>
    /// Email witch we are replying
    /// </summary>
    [Parameter]
    public AllegatoEmail nAttach { get; set; }

    /// <summary>
    /// Email inbox
    /// </summary>
    [Parameter]
    public EmailServer nSourceServer { get; set; }

    /// <summary>
    /// Fires when replay has been sent
    /// </summary>
    [Parameter]
    public EventCallback<Models.RisultatoAzione> OnOperationDone { get; set; }

    /// <summary>
    /// Fires when user left the reply area
    /// </summary>
    [Parameter]
    public EventCallback OnAbort { get; set; }

    /// <summary>
    /// Receiver
    /// </summary>
    public string To { get; set; }

    /// <summary>
    /// Additional receivers
    /// </summary>
    public string[] CC { get; set; }

    /// <summary>
    /// Subject of the email
    /// </summary>
    public string Subject { get; set; }

    /// <summary>
    /// Body of the email
    /// </summary>
    public string Body { get; set; }

    /// <summary>
    /// Indicates if Sources has to be included
    /// </summary>
    public bool IncludeSource { get; set; } = true;

    /// <summary>
    /// Close the mail
    /// </summary>
    public bool CloseEmail { get; set; } = false;


    /// <summary>
    /// Show/Hide the spinner
    /// </summary>
    private bool IsSpinnerVisible { get; set; } = false;

    /// <summary>
    /// On initialize, init some objects
    /// </summary>
    protected override void OnInitialized()
    {
        CC = new string[] { };
        To = nAttach.Mittente;
        Subject = "R:" + nAttach.Oggetto;

    }

    /// <summary>
    /// Send the reply
    /// </summary>
    private async void OnSend()
    {
        IsSpinnerVisible = true;
        var User = _HttpContextAccessor.HttpContext.User;
        Models.RisultatoAzione RA = await _MailService.RispondiEmail(nAttach.Id.ToString(), nSourceServer.Nome, To, string.Join(";", CC), Subject, Body, IncludeSource, CloseEmail, User);
        OnOperationDone.InvokeAsync(RA);
        _Logger.LogInformation($"MailAnswer.OnSend: Mail {nAttach.Id} sent to {To},{string.Join(";", CC)} ");
        IsSpinnerVisible = false;
    }

    /// <summary>
    /// Forward the email
    /// </summary>
    private void OnGoBack()
    {
        OnAbort.InvokeAsync();
    }
}
