
@addTagHelper *, Syncfusion.EJ2
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject dblu.Portale.Plugin.Docs.Services.MailService _mailservice
@inject dblu.Portale.Plugin.Docs.Services.ZipService _zipservice
@model dblu.Portale.ViewModels.TemplateViewModel

@using System.Drawing
@{ var dinamica = Convert.ToInt32(@Configuration.GetSection("Portale")["DashBoardDinamica"]);

                var numeroEmail = _mailservice.CountEmailInArrivo("EMAIL", User.Claims);
                var numeroFile = _zipservice.CountFileTask("ZIP", User.Claims); }

@if (dinamica == 1)
{
<div class="row">

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@numeroEmail</h3>
                <p>email in arrivo</p>
            </div>
            <div class="icon">
                <i class="fas fa-envelope-open-text"></i>
            </div>
            <a href="~/MailView/InArrivo" class="small-box-footer">Apri <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@numeroFile</h3>
                <p>documenti in arrivo</p>
            </div>
            <div class="icon">
                <i class="fas fa-file-archive"></i>
            </div>
            <a href="~/ZipView/ZipTask" class="small-box-footer">Apri <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div> }
            else
            {
<div class="row">

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@numeroEmail</h3>
                <p>email in arrivo</p>
            </div>
            <div class="icon">
                <i class="fas fa-envelope-open-text"></i>
            </div>
            <a href="~/MailView/InArrivo" class="small-box-footer">Apri <i class="fa fa-arrow-circle-right"></i></a>
            @*
                <a href="~/Docs/EditorPdf" class="small-box-footer">Test editor<i class="fa fa-arrow-circle-right"></i></a>
            *@
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@numeroFile</h3>
                <p>documenti in arrivo</p>
            </div>
            <div class="icon">
                <i class="fas fa-file-archive"></i>
            </div>
            <a href="~/ZipView/ZipTask" class="small-box-footer">Apri <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>}


