@*
    Show a summary panel for an Attachment
*@
@using dblu.Docs.Models

<div class="row">
    <div class="col-4" style="overflow-wrap: break-word;">
         @nAttach.GetAttributo("Mittente","")<br />
         @nAttach.Origine
    </div>
    <div class="col-4" style="text-align: center;overflow-wrap: break-word;">
        <b> @nAttach.Chiave5</b><br />
        
    </div>
    <div class="col-4" style="text-align: end;overflow-wrap: break-word;">
        @{
            DateTime t = nAttach.GetAttributo("Data",DateTime.Now);
        }
       @t.ToShortDateString()<br />
       @t.ToShortTimeString()
    </div>
</div>
    

@code {
    /// <summary>
    /// Attach to summarize
    /// </summary>
    [Parameter]
    public Allegati nAttach{ get; set; }
}
