@*
    Component for editing an attachment
*@
@page "/Docs/Attachment/{Id}"
@page "/Docs/Attachment/{Id}/{ShowMetadata}"
@page "/Docs/Attachment/{Id}/{ShowMetadata}/{Summary}"
@using dblu.Docs.Models
@using dblu.Portale.Plugin.Docs.Pages.Docs.Shared
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using dblu.Portale.Plugin.Docs.Classes
@using System.IO
@inject dblu.Portale.Plugin.Docs.Services.AllegatiService _AttachService
@inject ProtectedSessionStorage _SessionStore
@inject NavigationManager  _NavigationManager
@inject dblu.Portale.Plugin.Docs.Services.MailService _MailService
@inject IJSRuntime _JSRuntime

<PageTitle nTitle="@CardTitle" />


<section class="content">
    <SfSpinner @bind-Visible="IsSpinnerVisible">
    </SfSpinner>


    <SfCard>
        <CardHeader Title="@CardTitle" />
        <div class="container-fluid" style="margin:5px">
            @if (!string.IsNullOrEmpty(ShowMetadata) && ShowMetadata.ToLowerInvariant()=="true")
            {
                <CardContent EnableSeperator="true">
                    <div class="form-group row">
                        <div class="col-2">
                            <label>ID Allegato</label>
                        </div>
                        <div class="col-4">
                            <SfTextBox Readonly="true" Value="@(Attachment.Id.ToString())"></SfTextBox>
                        </div>
                        <div class="col-2">
                            <label>Descrizione</label>
                        </div>
                        <div class="col-4">
                            <SfTextBox Readonly="true" Value="@(Attachment.Descrizione)"></SfTextBox>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label>Creato il</label>
                        </div>
                        <div class="col-4">
                            <SfTextBox Readonly="true" Value="@(Attachment.DataC.ToString())"></SfTextBox>
                        </div>
                        <div class="col-2">
                            <label>Utente creazione</label>
                        </div>
                        <div class="col-4">
                            <SfTextBox Readonly="true" Value="@(Attachment.UtenteC.ToString())"></SfTextBox>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label>Modificato il</label>
                        </div>
                        <div class="col-4">
                            <SfTextBox Readonly="true" Value="@(Attachment.DataUM.ToString())"></SfTextBox>
                        </div>
                        <div class="col-2">
                            <label>Utente ultima modifica</label>
                        </div>
                        <div class="col-4">
                            <SfTextBox Readonly="true" Value="@(Attachment.UtenteUM.ToString())"></SfTextBox>
                        </div>
                    </div>
                </CardContent>
            }
        <CardContent EnableSeperator="true">
            @if (!string.IsNullOrEmpty(Summary) && Summary.ToLowerInvariant() == "true")
                {   
                <DocViewer nAllowNote="true" nAllowEdit="true" nSourceType="e_SourceType.Memory" nDocIdentifier="@SummaryDoc" nHeight=680></DocViewer>
                }
            else
                {
                <DocViewer nAllowNote="true" nAllowEdit="true" nSourceType="e_SourceType.Attachment" nDocIdentifier="@Id" nHeight=550></DocViewer>
                }
        </CardContent>
            <CardContent EnableSeperator="true">
                <div class="row">
                    <div class="col-12">
                        <SfButton CssClass="e-primary" OnClick="GoBack">Indietro</SfButton>
                    </div>
                </div>
            </CardContent>
        </div>
    </SfCard>


</section>
@code {
    /// <summary>
    /// Attachment ID
    /// </summary>
    [Parameter]
    public string Id { get; set; }

    /// <summary>
    /// Indicates if metadata of attaqchments must be shower
    /// </summary>
    [Parameter]
    public string ShowMetadata { get; set; } = "true";

    /// <summary>
    /// Indicates if the attachment has to be showes as a summary o
    /// </summary>
    [Parameter]
    public string Summary { get; set; } = "false";

    /// <summary>
    /// Show/Hide the spinner
    /// </summary>
    private bool IsSpinnerVisible { get; set; } = false;

    /// <summary>
    /// String that identifies a summary of the attachment
    /// </summary>
    private string SummaryDoc { get; set; }

    /// <summary>
    /// Title of the Card and Page
    /// </summary>
    public string CardTitle { get; set; }

    /// <summary>
    /// Attachment loaded
    /// </summary>
    public Allegati Attachment { get; set; }

    /// <summary>
    /// On Init component,load attachemnt
    /// </summary>
    protected async override void OnInitialized()
    {
        IsSpinnerVisible = true;
        if (string.IsNullOrEmpty(ShowMetadata)) ShowMetadata = "true";
        Attachment = _AttachService._allMan.Get(Guid.Parse(Id));
        CardTitle = $"Modifica Allegato [{Attachment.Descrizione}]";
        if (!string.IsNullOrEmpty(Summary) && Summary.ToLowerInvariant() == "true")
        {
            CardTitle = $"Riepilogo [{Attachment.Descrizione}]";

            MemoryStream M = await _MailService.GetPdfRiepilogo(Id);
            SummaryDoc = $"SUMMARY-{Id}.PDF;{Convert.ToBase64String(M.ToArray())}";
                
        }  
        IsSpinnerVisible = false;
    }

    /// <summary>
    /// Go back to the caller
    /// </summary>
    private async void GoBack()
    {
        Id = "";
        string back = (await _SessionStore.GetAsync<string>("Referrer")).Value;
        if (string.IsNullOrEmpty(back))
            _NavigationManager.NavigateTo($"/Docs/Dossiers");
        else
        {
            await _JSRuntime.InvokeVoidAsync("BlazorSetHREF", back);
           //_NavigationManager.NavigateTo(back);
            await _SessionStore.DeleteAsync("Referrer");
        }
    }
}