@*@model dblu.Portale.Plugin.Docs.ViewModels.EditorAllegatoViewModel*@
@inject dblu.Portale.Plugin.Docs.Services.ZipService _zipSer
@inject dblu.Portale.Plugin.Docs.Services.AllegatiService _doc
@inject dblu.Portale.Plugin.TaskListBase.Services.Camunda.CamundaService  _service

@using Kendo.Mvc.UI
@using dblu.Docs.Classi
@using dblu.Docs.Models
@using dblu.Portale.Extensions
@using System.Linq
@using dblu.Portale.Plugin.Docs.ViewModels
@addTagHelper *, Kendo.Mvc
@addTagHelper "*, Syncfusion.EJ2"


@{
    var fromTask = false;
    var taskId = "";
    Allegati Allegato = null;
    string idAllegato = null;
    bool flAnnulla = false;
    var flRuoliCandidati = false;
    string[] vRuoliCandidati = null;

    try
    {
        if (Model.GetType() == typeof(Allegati))
        {
            Allegato = Model;
        }
        else
        {
            BPMClient.BPMTaskDto task = TempData.Get<BPMClient.BPMTaskDto>("task");
            BPMClient.BPMVariable var = new BPMClient.BPMVariable();
            Dictionary<string, BPMClient.VariableValue> variables = var.GetAll(_service._eng, task.id).Result;
            idAllegato = variables["_IdAllegato"].value.ToString();
            Allegato = _doc._allMan.Get(idAllegato);
            taskId = task.id;
            fromTask = true;
            flAnnulla = variables.ContainsKey("_Annulla");

            flRuoliCandidati = variables.ContainsKey("_RuoliCandidati");
            if (flRuoliCandidati)
            {
                vRuoliCandidati = variables["_RuoliCandidati"].value.ToString().Split(",");
                flRuoliCandidati = vRuoliCandidati.Length > 0;
            }
        }
    }
    catch (Exception)
    {
        //BPMClient.BPMTaskDto task = TempData.Get<BPMClient.BPMTaskDto>("task");
        //BPMClient.BPMVariable var = new BPMClient.BPMVariable();
        //Dictionary<string, BPMClient.VariableValue> variables = var.GetAll(_service._eng, task.id).Result;
        //var idElemento = variables["IdElemento"].value.ToString();
        //Elemento = _doc._elmMan.Get(idElemento, 0);

    }

    ViewBag.Title = "Allegato";

    var AttributiMod = "";
    //IList<EmailAttachments> ListaFile = await _zipSer.GetZipFilesAsync(idAllegato);
    bool isEdit = false;
    //cerco almeno un attributo modificabile
    if (Allegato != null)
    {
        foreach (var attributo in Allegato.elencoAttributi.ToList())
        {
            if (attributo.Visibilità == dblu.Docs.Classi.Visibilita_Attributi.EDITABLE)
            {
                isEdit = true;
                AttributiMod += attributo.Nome + ";";
            }
        }
    }

}

<script type="text/javascript">
    kendo.culture("it-IT");
</script>

<script src="~/Scripts/dblupdf.js"></script>

<script>


    $(document).ready(function () {

        //$("#pdfviewer_comment").remove();
        var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
        pdfViewer.stickyNotesSettings.author = '@User.Identity.Name' //'@User.Identity.Name.Replace('.', ' ')';
        pdfViewer.strikethroughSettings.author = '@User.Identity.Name';
        pdfViewer.underlineSettings.author = '@User.Identity.Name';
        pdfViewer.highlightSettings.author = '@User.Identity.Name';
        pdfViewer.annotationSettings.author = '@User.Identity.Name';
        pdfViewer.freeTextSettings.author = '@User.Identity.Name';
    });

    function importAnnotations() {

        var emailpdfviewer = document.getElementById('pdfviewer').ej2_instances[0];
        emailpdfviewer.importAnnotation('');
    }

    function annotationAdd(e) {
        // alert("The signature is added to the PDF document successfully");
    }


    function saveAnnotations() {

        var emailpdfviewer = document.getElementById('pdfviewer').ej2_instances[0];
        emailpdfviewer.exportAnnotation();
    }

    function documentLoaded(args) {
        //alert("The document" + args.fileName + "is ready to view");
        importAnnotations()
    }
</script>

<style>

    html body #pdfviewer {
        width: 100% !important;
    }
</style>

<script>
    function RuoliCandidati_OnChange() {
        var multiselect = $("#_ms_RuoliCandidati").data("kendoMultiSelect")
        $("#zRuoliCandidati").val(multiselect.value().join(","));
    }

    /*function UtentiCandidati_OnChange() {
        var multiselect = $("#_ms_UtentiCandidati").data("kendoMultiSelect")
        $("#zUtentiCandidati").val(multiselect.value().join(","));
    }*/
</script>

<script>

    function getAllegato() {
        return {
            IdAllegato: '@Allegato?.Id'
        };
    }

    function Files_OnRowSelect(arg) {

        var data = this.dataItem(this.select());

        var dataItem = this.dataItem(this.select());
        if (dataItem != null) {

            var IdAllegato = '@Allegato?.Id';
            var nome = dataItem.NomeFile.toLowerCase();
            var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];

            var param = "editor;" + IdAllegato + ";" + nome;

            if (nome.indexOf(".pdf") > 0) {
                pdfViewer.load(param);
                pdfViewer.downloadFileName = nome;
            }
            else {
                pdfViewer.load('');
            }
        }
    }

    function ScaricaFile(e) {
        e.preventDefault();
        var data = this.dataItem($(e.currentTarget).closest("tr"));
        var nomefile = data.NomeFile;
        //var idAllegato = $("#IdAllegato").val()
        var idAllegato = '@Allegato?.Id.ToString()';
        var obj = {
            IdAllegato: idAllegato,
            NomeFile: nomefile
        }
        $.ajax( {
            url: '@Url.Action("ApriFile","Allegato" )',
            method: 'GET',
            xhrFields: {
                responseType: 'blob'
            },
            data: obj,
            success: function (data) {
                var a = document.createElement('a');
                var url = window.URL.createObjectURL(data);
                a.href = url;
                a.download = nomefile;
                document.body.append(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
                }
        });
    }


    function EliminaFile(e) {
        e.preventDefault();
        var data = this.dataItem($(e.currentTarget).closest("tr"));
        var nomefile = data.NomeFile;
        //var idAllegato = $("#IdAllegato").val()
        var idAllegato = '@Allegato?.Id.ToString()';
        var obj = {
            IdAllegato: idAllegato,
            NomeFile: nomefile
        }
        $.ajax( {
            url: '@Url.Action("EliminaFileDaZip", "Allegato" )',
            method: 'POST',
            data: obj,
            success: function (data) {
                var grid = $("#gridFiles").data("kendoGrid")
                grid.dataSource.read();
            },
             error: function (data) {
                alert("Eliminazione non riuscita");
            }
        });
    }


    function SubmitForm(frm, caller) {
        caller.preventDefault();

        var fdata = new FormData();
        var file = $("#files")[0].files[0];

        fdata.append("files", file);
        fdata.append("IdAllegato", '@Allegato?.Id.ToString()');

        $.ajax(
            {
                type: "POST",
                data: fdata,
                url: '@(Url.Action("AddFileToZip", "Allegato"))',
                processData: false,
                contentType: false,
                success: function (data) {
                    $("#gridFiles").data("kendoGrid").dataSource.read();

                },
                error: function (data) {
                    alert("Impossibile aggiungere il file");
                }
            });
    }

    function AnnullaOnClick(e) {

        var r = confirm("Confermi l'annullamento del documento?");
        if (r == true) {
            var obj = {
                IdTask: '@taskId',
                IdAllegato: '@idAllegato'
            };
            $.ajax({
                url: '@Url.Action("AnnullaZip", "Allegato" )',
                type: 'POST',
                cache: false,
                data: obj,
                success: function (data) {
                  //  alert();
                    window.location = "/BPM/ActivityList";
                },
                error: function (data) {
                    alert("Annullamento non riuscito.");
                }
            });

        } else {
            e.preventDefault;
        }
    }



    function SalvaAttributi(caller) {
        caller.preventDefault();

        var frm = $("#formAttributi");
        var obj = {
            IdAllegato: '@idAllegato',
            form: frm.serialize()
        };
        $.ajax(
            {
                url: '@(Url.Action("SalvaAttributi", "Allegato"))',
                type: 'POST',
                cache: false,
                data:obj ,
                success: function (data) {
                   // alert("Ok");
                },
                error: function (data) {
                    alert("Salvataggio attributi non riuscito");
                }
            });
    }

    function CompletaOnClick(e) {
       // e.preventDefault();
        var form = $("#formcompleta");
        var validator = form.data("kendoValidator");
        var validationSummary = $("#validation-summary");
        validationSummary.html("");

        if (validator.validate()) {

            //,window.location.origin + '/Action/TaskView/Complete/@taskId'

            try {

                var obj = {
                    IdTask: '@taskId',
                    RuoliCandidati: $("#zRuoliCandidati").val()
                };
            $.ajax({
                type: "POST",
                    url:  '@(Url.Action("CompletaZip", "Allegato"))',
                    cache: false,
                    data: obj,
                success: function (data) {
                    //alert(data);
                    window.location = "/BPM/ActivityList";
                }
            });
            }
            catch {

            }

        } else {
            validationSummary.html("<div class='k-messagebox k-messagebox-error'>Inserire i campi obbligatori.</div>");
        }

    }


</script>

<script>
    $('#return').click(function (evt) {

        window.history.back();
    });
</script>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card card-outline card-secondary card-solid card-default">
                    <div class="card-header p-1">
                        <i class="mt-2 fas fa-paperclip float-left"></i>
                        <div class="card-title mt-1 ml-2">
                            Dati Allegato
                        </div>
                        <div class="card-tools pull-right">
                            <button type="button" class="btn btn-card-tool" data-card-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class='form-horizontal'>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group row">
                                        <div class="col-2"><label for='' class="control-label">ID Allegato</label></div>
                                        <div class="col-10"><input type='text' class='form-control' id='' placeholder='' value='@Allegato?.Id' disabled></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-2"><label for='' class="control-label">Creato il</label></div>
                                        <div class="col-10">
                                            <input type='datetime' class='form-control' id='' placeholder='' value='@Allegato?.DataC' disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-2"><label for='' class="control-label">Utente Creazione</label></div>
                                        <div class="col-10">
                                            <input type='text' class='form-control' id='' placeholder='Nome' value='@Allegato?.UtenteC' disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <div class="col-2"><label for='' class="control-label">Descrizione</label></div>
                                        <div class="col-10">
                                            <input type='text' class='form-control' id='' placeholder='' value='@Allegato?.Descrizione' disabled>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-2"><label for='' class="control-label">Modificato il</label></div>
                                        <div class="col-10">
                                            <input type='datetime' class='form-control' id='' placeholder='' value='@Allegato?.DataUM' disabled>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-2"><label for='' class="control-label">Utente Ultima Modifica</label></div>
                                        <div class="col-10">
                                            <input type='text' class='form-control' id='' placeholder='Nome' value='@Allegato?.UtenteUM' disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="align-self: auto" class="col-4">
                <div class="card card-outline card-secondary card-solid card-default">
                    <div class="card-header p-1">
                        <i class="mt-2 fas fa-paperclip float-left"></i>
                        <div class="card-title mt-1 ml-2">
                            Gestione Allegato
                        </div>
                        <div class="card-tools pull-right">
                            <button type="button" class="btn btn-card-tool" data-card-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="formAttributi">
                            <div class="form-group">
                                @if (Allegato != null)
                                {
                                    @foreach (var attributo in Allegato.elencoAttributi.ToList().OrderBy(f => (f.Sequenza)))
                                    {


                                        @if (attributo.Visibilità != dblu.Docs.Classi.Visibilita_Attributi.HIDDEN)
                                        {
                                            <div class='form-group row'>
                                                <div class='col-4'>  @Html.Label($"lbl_{attributo.Nome}", attributo.Descrizione) </div>
                                                <div class='col-8'>

                                                    @switch (attributo.Tipo)

                                                    {
                                                        case "System.DateTime":
                                                            bool xEditable = (attributo.Visibilità == Visibilita_Attributi.EDITABLE && isEdit == true) ? true : false;
                                                            @(Html.Kendo().DatePicker()
                                                            .Name($"ctl_{attributo.Nome}")
                                                            .Enable(xEditable)
                                                            .Value(Allegato.elencoAttributi.GetDateTime(attributo.Nome))
                                                    )
                                                            break;
                                                        case "System.Boolean":
                                                            xEditable = (attributo.Visibilità == Visibilita_Attributi.EDITABLE && isEdit == true) ? true : false;
                                                            bool xx = attributo.Valore == null ? false : (bool)Allegato.elencoAttributi.GetBoolean(attributo.Nome);
                                                            @(Html.Kendo().Switch()
                                                          .Name($"ctl_{attributo.Nome}")
                                                          .Enabled(xEditable)
                                                          .Messages(c => c.Checked("Si").Unchecked("No"))
                                                          .Checked(xx)
                                                    )
                                                            break;
                                                        default:
                                                            xEditable = (attributo.Visibilità == Visibilita_Attributi.EDITABLE && isEdit == true) ? true : false;
                                                            @(Html.Kendo().TextBox()
                                                          .Name($"ctl_{attributo.Nome}")
                                                          .Enable(xEditable)
                                                          .Value(Allegato.GetAttributo(attributo.Nome,"").ToString())
                                                          .HtmlAttributes(new { style = "width: 100%" })
                                                    )
                                                            break;
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                            @if (isEdit)
                            {
                                <button type="button" class="btn margin btn-default" id="bSalvaAtt" onclick="SalvaAttributi(event)">Salva</button>
                            }
                        </form>
                    </div>
                </div>
            </div>

            <div style="align-self: auto" class="col-8">
                <div class="card card-outline card-secondary card-solid card-default">
                    <div class="card-header p-1">
                        <i class="mt-2 fas fa-paperclip float-left"></i>
                        <div class="card-title mt-1 ml-2">
                            Allegati
                        </div>
                        <div class="card-tools pull-right">
                            <button type="button" class="btn btn-card-tool" data-card-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group" style="margin-top:10px">
                            <div class="col-12">
                                @*Griglia con l'elenco dei file presenti nello zip. Se non è uno zip non mostrare solo il file legato a questo allegato*@
                                @(Html.Kendo().Grid<EmailAttachments>()
                            .Name("gridFiles")
                            .Selectable()
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.NomeFile).Title("Nome ").Width("80%");
                                columns.Command(command =>
                                {
                                    command.Custom("download").Text(" ").Click("ScaricaFile").IconClass("k-icon k-i-download");
                                    command.Custom("elimina").Text(" ").Click("EliminaFile").IconClass("k-icon k-i-delete");
                                }).Width("20%");
                            })
                                    //.BindTo(ListaFile)
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Model(model => model.Id(p => p.Id))
                                        .Read(read => read.Action("ListaFileInZip", "Allegato").Data("getAllegato"))
                                    )
                            .HtmlAttributes(new { style = "font-size:12" })
                            .Events(events => events.Change("Files_OnRowSelect"))
                            )
                            </div>
                        </div>
                        @if (isEdit)
                        {
                            //Possibilità di aggiungere un file allo zip ---- solo se allegato di tipo Zip?
                            <div class="form-group" style="margin-top:10px">

                                <div class="col-12" style="width:100%">
                                    @*action da verificare*@
                                    <form class="col-12" method="post" action="/Allegato/AddFile" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <input class="form-control-file col-8" name="files" id="files" type="file" aria-label="files" />
                                            <p style="text-align: right">
                                                <button type="submit" class="k-button k-primary  col-2" onclick="SubmitForm(this.parentElement, event)">Aggiungi</button>
                                            </p>
                                        </div>
                                    </form>
                                    <br /><br />
                                </div>
                            </div>
                        }

                        <div class="row form-group">
                            <div class="col-12" style="width:100%" id="anteprimapdf">
                                <ejs-pdfviewer id="pdfviewer" serviceUrl="/api/ZipPdfViewer" documentPath=""
                                               enablePrint="true"
                                               documentLoad="documentLoaded"
                                               annotationAdd="annotationAdd"
                                               enableStampAnnotations="false"
                                               locale="it-IT"
                                               downloadFileName="@string.Concat("",".pdf")" height="1000px">
                                </ejs-pdfviewer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        @if (fromTask)
        {
            <form class="form-horizontal" role="form" method="post" id="formcompleta" autocomplete="off" kendo-validator="true">
                <div class="row form-group">


                    @if (@flRuoliCandidati)
                    {
                        <div class="col-2"><label class="control-label">Ruoli candidati</label>@Html.Hidden("_RuoliCandidati", "")</div>
                        <div class="col-10">
                            @(Html.Kendo().MultiSelect()
                                                    .Name("_ms_RuoliCandidati")
                                                    .Placeholder("seleziona ...")
                                                    .BindTo(vRuoliCandidati)
                                                    .Events(e =>
                                                    {
                                                        e.Change("RuoliCandidati_OnChange");
                                                    })
                                                    .HtmlAttributes(new { Style="width:100%", required = "required", validationmessage = "Selezionare almeno un ruolo" })
                                                )
                        </div>
                    }
                </div>

                <div class="row form-group">
                    @if (flAnnulla)
                    {
                        <button type="button" id="bAnnulla" class="btn ml-2 btn-default pull-right" onclick="AnnullaOnClick()">Annulla</button>
                    }
                    <input name="_Annulla" type="hidden" value="false">
                    <button type="button" id="bCompleta" class="btn ml-2 btn-default pull-right" onclick="CompletaOnClick()">Completa</button>


                    <div id="validation-summary">
                    </div>
                </div>
            </form>
        }
    </div>
</section>



