@inject dblu.Portale.Plugin.TaskListBase.Services.Camunda.CamundaService  _service
@using dblu.Portale.Plugin.TaskListBase.Services.Camunda;
@using dblu.Portale.Extensions
@using dblu.Docs.Models
@using Kendo.Mvc.UI
@using System.Linq

@inject dblu.Portale.Plugin.Docs.Services.AllegatiService _doc

@using dblu.Portale.Plugin.Docs.ViewModels

@using Syncfusion.EJ2

@*model dblu.Portale.Plugin.Docs.ViewModels.EditorElementoViewModel *@

@addTagHelper *, Kendo.Mvc
@addTagHelper "*, Syncfusion.EJ2"


@{

    var fromTask = false;
    var taskId = "";
    Elementi Elemento = null;
    var flRuoliCandidati = false;
    string[] vRuoliCandidati = null;
    try
    {
        if (Model.GetType() == typeof(Elementi))
        {
            Elemento = Model;
        }
        else
        {
            BPMClient.BPMTaskDto task = TempData.Get<BPMClient.BPMTaskDto>("task");
            // BPMClient.BPMTask tskDto = new BPMClient.BPMTask();



            BPMClient.BPMVariable var = new BPMClient.BPMVariable();
            Dictionary<string, BPMClient.VariableValue> variables = var.GetAll(_service._eng, task.id).Result;
            var idElemento = variables["IdElemento"].value.ToString();
            Elemento = _doc._elmMan.Get(idElemento, 0);
            taskId = task.id;
            fromTask = true;

            flRuoliCandidati = variables.ContainsKey("_RuoliCandidati");
            if (flRuoliCandidati)
            {
                vRuoliCandidati = variables["_RuoliCandidati"].value.ToString().Split(",");
            }

        }
    }
    catch (Exception)
    {
        //BPMClient.BPMTaskDto task = TempData.Get<BPMClient.BPMTaskDto>("task");
        //BPMClient.BPMVariable var = new BPMClient.BPMVariable();
        //Dictionary<string, BPMClient.VariableValue> variables = var.GetAll(_service._eng, task.id).Result;
        //var idElemento = variables["IdElemento"].value.ToString();
        //Elemento = _doc._elmMan.Get(idElemento, 0);

    }

    ViewBag.Title = "Elemento";
    var tipoelemento = _doc._elmMan.GetTipoElemento(Elemento.Tipo);
    List<dblu.Docs.Models.Allegati> Allegati = _doc._elmMan.GetAllegatiElemento(Elemento.Id);

}

<script>
    function RuoliCandidati_OnChange() {
        var multiselect = $("#_ms_RuoliCandidati").data("kendoMultiSelect")
        $("#zRuoliCandidati").val(multiselect.value().join(","));
    }

    /*function UtentiCandidati_OnChange() {
        var multiselect = $("#_ms_UtentiCandidati").data("kendoMultiSelect")
        $("#zUtentiCandidati").val(multiselect.value().join(","));
    }*/
</script>

<script src="~/Scripts/dblupdf.js"></script>

<script>

    $(document).ready(function () {

        //$("#pdfviewer_comment").remove();
        var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
        pdfViewer.stickyNotesSettings.author = '@User.Identity.Name' //'@User.Identity.Name.Replace('.',' ')';
        pdfViewer.strikethroughSettings.author = '@User.Identity.Name';
        pdfViewer.underlineSettings.author = '@User.Identity.Name';
        pdfViewer.highlightSettings.author = '@User.Identity.Name';
        pdfViewer.annotationSettings.author = '@User.Identity.Name';
        pdfViewer.freeTextSettings.author = '@User.Identity.Name';

        //pdfViewer.measurementSettings.displayUnit = "mm";
        //pdfViewer.measurementSettings.conversionUnit = "mm";


    });

     function importAnnotations() {
        var IdAllegato = $("#IdAllegato").val();
        var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
        pdfViewer.importAnnotation(IdAllegato);
    }

    function annotationAdd(e) {
       // alert("The signature is added to the PDF document successfully");
    }


    function saveAnnotations() {

        var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
        pdfViewer.exportAnnotation();
    }

    function documentLoaded(args) {
        //alert("The document" + args.fileName + "is ready to view");
        importAnnotations()
    }

</script>


<script>
    //Attachments_OnRowSelect = function (e) {

    function Allegati_OnRowSelect(arg) {
        var dataItem = this.dataItem(this.select());
        if (dataItem != null) {

            var IdAllegato = dataItem.Id;
            $("#IdAllegato").val(IdAllegato);
            var nome = dataItem.NomeFile.toLowerCase();
            var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
            if (nome.indexOf(".pdf") > 0) {
                pdfViewer.load(IdAllegato);
                pdfViewer.downloadFileName = nome;
            }
            else {
                pdfViewer.load('');
            }

            //pdfViewer.downloadFileName
@*
            var pdfViewer = $("#pdfviewer").data("kendoPDFViewer");
            if (!pdfViewer) {
                pdfViewer = $("#pdfviewer").kendoPDFViewer({
                    pdfjsProcessing: {
                        file: ""
                    },
                    width: "100%",
                    height: 500
                }).data("kendoPDFViewer");
            }
            pdfViewer.width = "100%";
            pdfViewer.height = 700;

            var url = "IdAllegato=" + IdAllegato ;
            var pdfHandlerUrl = "/Elementi/GetPdf/data?" + url;
            pdfViewer.fromFile(pdfHandlerUrl);
*@

        }

    }
</script>



<br>
@*
    <section class="content">
        <div class="container-fluid">


            <div class="row">
                <div class="box box-">

                        <input type='datetime' class='form-control' id='' placeholder='' value='@Elemento.Descrizione'>


                </div>
            </div
        </div>

    </section>
*@


<style>

    html body #pdfviewer {
        width: 100% !important;
    }
</style>

<section class="content">
    <div class="container-fluid">


        <div class="row">
            <div class="box box-">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">Dati Elemento</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <!-- /.card-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form class='form-horizontal'>
                                <div class='card-body'>
                                    <div class='form-group row'>
                                        <label for='' class='col-sm-2 col-form-label'>ID Elemento</label>
                                        <div class='col-sm-10'>
                                            <input type='text' class='form-control' id='IdElemento' placeholder='' value='@Elemento.Id' disabled>
                                        </div>
                                    </div>
                                    <div class='form-group row'>
                                        <label for='' class='col-sm-2 col-form-label'>Creato il</label>
                                        <div class='col-sm-10'>
                                            <input type='datetime' class='form-control' id='DataCElemento' placeholder='' value='@Elemento.DataC' disabled>
                                        </div>

                                    </div>
                                    <div class='form-group row'>
                                        <label for='' class='col-sm-2 col-form-label'>Utente Creazione</label>
                                        <div class='col-sm-10'>
                                            <input type='text' class='form-control' id='UtenteCElemento' placeholder='Nome' value='@Elemento.UtenteC' disabled>
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>
                        <div class="col-md-6">
                            <div class='form-group row'>
                                <label for='' class='col-sm-2 col-form-label'>Descrizione</label>
                                <div class='col-sm-10'>
                                    <input type='text' class='form-control' id='DescrizioneElemento' placeholder='' value='@Elemento.Descrizione' disabled>
                                </div>

                            </div>
                            <div class='form-group row'>
                                <label for='' class='col-sm-2 col-form-label'>Modificato il</label>
                                <div class='col-sm-10'>
                                    <input type='datetime' class='form-control' id='DataUMElemento' placeholder='' value='@Elemento.DataUM' disabled>
                                </div>

                            </div>
                            <div class='form-group row'>
                                <label for='' class='col-sm-2 col-form-label'>Utente Ultima Modifica</label>
                                <div class='col-sm-10'>
                                    <input type='text' class='form-control' id='UtenteUMElemento' placeholder='Nome' value='@Elemento.UtenteUM' disabled>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                        <!-- /.col (right) -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="box box-">
                    <div class="box-header">

                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Gestione Elemento</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            @foreach (var attributo in Elemento.elencoAttributi.ToList())
                            {


                                @if (attributo.Visibilità != dblu.Docs.Classi.Visibilita_Attributi.HIDDEN)
                                {
                                    <!--<div class="row">-->

                                    <div class='form-group row'>
                                        <div class='col-sm-4'>  @Html.Label($"lbl_{attributo.Nome}", attributo.Descrizione) </div>
                                        <div class='col-sm-8'>
                                            @switch (attributo.Tipo)
                                            {
                                                case "System.DateTime":
                                                    @(Html.Kendo().DatePicker()
                                                                        .Name($"ctl_{attributo.Nome}")
                                                                    .Value(Elemento.elencoAttributi.GetDateTime(attributo.Nome))

                                                        )
                                                    break;
                                                case "System.Boolean":
                                                    bool xx = attributo.Valore == null ? false : (bool)Elemento.elencoAttributi.GetBoolean(attributo.Nome);
                                                    @(Html.Kendo().Switch()
                                                              .Name($"ctl_{attributo.Nome}")
                                                              .Messages(c => c.Checked("Si").Unchecked("No"))
                                                              .Checked(xx)
                                                        )
                                                    break;
                                                default:
                                                    @(Html.Kendo().TextBox()
                                                              .Name($"ctl_{attributo.Nome}")
                                                        .Value(attributo.Valore==null ? "" : attributo.Valore.ToString())
                                                              .HtmlAttributes(new { style = "width: 100%" })
                                                            )
                                                    break;
                                            }
                                        </div>

                                    </div>

                                    <!--</div>-->

                                }






                            }

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-8">
                <div class="box box-">
                    <div class="box-header">

                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Allegati</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group" style="margin-top:10px">
                            @Html.Hidden("IdAllegato")
                            <div class="col-md-12">
                                @(Html.Kendo().Grid<dblu.Docs.Models.Allegati>(Allegati)
                                .Name("GridAllegati")
                                .PersistSelection()
                                .Columns(columns =>
                                {
                                    columns.Select().Width(50).Title("Seleziona");
                                    columns.Bound(p => p.NomeFile).Title("Nome file").Width(150);
                                })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model => model.Id(p => p.Id))
                                    )
                                .HtmlAttributes(new { style = "font-size:10" })
                                .Events(events => events.Change("Allegati_OnRowSelect"))
                                )
                                @*.Events(ev => ev.Change("xxonChange"))*@
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:10px">
                            <div class="col-md-12" style="width:100%">
                                <br /><br />
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:10px">
                            <div class="col-md-12" style="width:100%" id="anteprimapdf">

                                @*
                                                    @(Html.Kendo().PDFViewer().Name("pdfviewer")
                                                        .Toolbar(toolbar =>
                                                        toolbar.Items(items =>
                                                            {
                                                                items.Add().Name("pager");
                                                                items.Add().Name("spacer");
                                                                items.Add().Name("zoom");
                                                                    items.Add().Name("print");
                                                                    items.Add().Name("search");
                                                                    items.Add().Name("download");
                                                            })
                                                        )

                                    )*@
                                <ejs-pdfviewer id="pdfviewer" serviceUrl="/api/PdfViewer" documentPath=""
                                               enablePrint="true"
                                               documentLoad="documentLoaded"
                                               annotationAdd="annotationAdd"
                                               enableStampAnnotations="false"
                                               locale="it-IT"
                                               downloadFileName="@string.Concat("",".pdf")" height="700px">
                                </ejs-pdfviewer>


                            </div>


                        </div>
                        <div class="form-group row">
                            <form class="form-horizontal" role="form" method="post">
                                @if (fromTask)
                                {
                                    <button formaction="/Action/TaskView/Complete/@taskId" method="post" type="submit" class="btn margin btn-info pull-right">Completa</button>
                                }
                                <button class="btn btn-info margin pull-left" id="salvanote" onclick="saveAnnotations() ">Salva Annotazioni</button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>





    </div>


</section>



