@*
    Page that manage the inbox and its interaction with Dossiers and Items
*@

@page "/Mail/Inbox"
@page "/Mail/Inbox/{nPreselAttach}"
@page "/Mail/Inbox/{nPreselFolder}/{nPreselAttach}"
@page "/Mail/Inbox/{nPreselFolder}/{nPreselAttach}/{nPreselItem}"
@using Newtonsoft.Json.Linq
@using Syncfusion.Blazor.PdfViewerServer
@using dblu.Docs.Models
@using dblu.Docs.Classi
@using dblu.Portale.Plugin.Docs.Services
@using dblu.Portale.Plugin.Docs.Pages.Docs.Shared
@using dblu.Portale.Plugin.Docs.Pages.Mail.Shared
@using dblu.Portale.Plugin.Docs.Classes
@using Microsoft.AspNetCore.Http
@using System.IO
@using dblu.Docs.Interfacce
@inject dblu.Portale.Plugin.Docs.Services.MailService _MailService
@inject dblu.Docs.Interfacce.ISoggettiService _SubjectService
@inject IHttpContextAccessor _HttpContextAccessor
@inject ILogger<Inbox> _Logger

<PageTitle nTitle="Inbox" />

<section class="content">

    <SfSpinner @bind-Visible="IsSpinnerVisible">
    </SfSpinner>

    <SfCard>
        <CardHeader Title="Email in arrivo" />
        <CardContent EnableSeperator="true">
            <div class="row form-group">
                <div class="col-5" style="align-self: auto;">
                    <div class="row form-group">
                        <div class="col">
                            <ServerCombo @bind-nServer="@MailBox" nPresel="@nPreselFolder"></ServerCombo>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col">
                            <MailTable @ref="@Grid" nMailBox="@MailBox" OnSelectAttachment="OnSelectAttach" OnReplyAttachment="OnReply" OnForwardAttachment="OnForward" OnMoveAttachment="OnMove" OnShowAttachment="OnShow" OnShowLogsAttachment="OnShowLogs" OnDeleteAttachment="OnDelete" nPreselAttach="@nPreselAttach"></MailTable>
                        </div>
                    </div>

                </div>

                <div class="col-7" style="align-self: auto;">
                    @if (!string.IsNullOrEmpty(AttachID))
                    {
                        if (IsAnswerDialog || IsForwardDialog)
                        {
                            <div class="row form-group">
                                <div class="col">
                                    <SfAccordion>
                                        <AccordionItems>
                                            <AccordionItem Expanded="true">
                                                <HeaderTemplate>
                                                    @{
                                                        string sub = Attach?.Mittente ?? "";
                                                        string caption = "Rispondi a ";
                                                        if (IsForwardDialog)
                                                        {
                                                            caption = "Inoltra ";
                                                            sub = @AttachSubject;
                                                        } 
                                                        <div>@caption<b>@sub</b></div>
                                                    }
                                                </HeaderTemplate>
                                                <ContentTemplate>
                                                    <MailForwardAnswer nAttach="@Attach" nSourceServer="@MailBox" IsAnswerDialog="@IsAnswerDialog" OnAbort="OnAbort" OnOperationDone="OnSend"></MailForwardAnswer> 
                                                </ContentTemplate>
                                            </AccordionItem>
                                        </AccordionItems>
                                    </SfAccordion>
                                </div>
                            </div>
                        }
                        else if (IsMoveDialog)
                        {
                            <div class="row form-group">
                                <div class="col">
                                    <SfAccordion>
                                        <AccordionItems>
                                            <AccordionItem Expanded="true">
                                                <HeaderTemplate>
                                                    <div>Sposta <b>@AttachSubject</b></div>
                                                </HeaderTemplate>
                                                <ContentTemplate>
                                                    <REG_MoveInFolder nAttach="@Attach" nSourceServer="@MailBox" OnOperationDone="OnDone" OnAbort="OnAbort"></REG_MoveInFolder>
                                                </ContentTemplate>
                                            </AccordionItem>
                                        </AccordionItems>
                                    </SfAccordion>
                                </div>
                            </div>
                        }
                        else if (IsShowDialog)
                        {
                            <div class="row form-group">
                                <div class="col">
                                    <SfAccordion>
                                        <AccordionItems>
                                            <AccordionItem Expanded="true">
                                                <HeaderTemplate>
                                                    <div>Struttura di <b>@AttachSubject</b></div>
                                                </HeaderTemplate>
                                                <ContentTemplate>
                                                    <MailHTMLView nAttach="@Attach" OnAbort="OnAbort"></MailHTMLView>
                                                </ContentTemplate>
                                            </AccordionItem>
                                        </AccordionItems>
                                    </SfAccordion>
                                </div>
                            </div>
                        }
                        else if (IsLogsDialog)
                        {
                            <div class="row form-group">
                                <div class="col">
                                    <SfAccordion>
                                        <AccordionItems>
                                            <AccordionItem Expanded="true">
                                                <HeaderTemplate>
                                                    <div>Operazioni sulla mail <b>@AttachSubject</b></div>
                                                </HeaderTemplate>
                                                <ContentTemplate>
                                                    <REG_Logs nAttach="@Attach" OnAbort="OnAbort"></REG_Logs>
                                                </ContentTemplate>
                                            </AccordionItem>
                                        </AccordionItems>
                                    </SfAccordion>
                                </div>
                            </div>
                        }
                        else
                        {
                            @*CLIENTE*@
                            <div class="row form-group">
                                <div class="col">
                                    <SfAccordion>
                                        <AccordionItems>
                                            <AccordionItem Expanded="@(IsCustomerExpand && !ForceCollapsed)">
                                                <HeaderTemplate>
                                                    <div>@CostumerDesc</div>
                                                </HeaderTemplate>
                                                <ContentTemplate>
                                                    <REG_Customer  Sender="@(Attach?.Mittente??"")"  OnLinkedToCostumer="OnLinkCostumer" OnOpenItems="OnOpenItems" nAttachID="@AttachID" nCostumerCode="@CustomerCode" nCostumerName="@CustomerName" ></REG_Customer>
                                                </ContentTemplate>

                                            </AccordionItem>
                                        </AccordionItems>
                                    </SfAccordion>
                                </div>
                            </div>
                            @*FASCICOLI*@
                            <div class="row form-group">
                                <div class="col">
                                    <SfAccordion>
                                        <AccordionItems>
                                            <AccordionItem Expanded="@(!ForceCollapsed)">
                                                <HeaderTemplate>
                                                    <div>@DossierDesc</div>
                                                </HeaderTemplate>
                                                <ContentTemplate>
                                                    <REG_DossierItems nSelectedItem="@AutoSel" OnRefresh="OnRefreshDossier" nCurrentDocument="@Document" nAttachID="@AttachID" nSourceFolder="@MailBox.Nome" nCostumerCode="@CustomerCode" nDossierID="@DossierID" nAttachments="@SourceAttach" OnAttachCompleted="OnAttachCompleted" OnLinkedToItem="OnLinkToItem" OnSelectedItem="OnSelectedItem" OnBeginReg="OnBeginReg" OnEndReg="OnEndReg"></REG_DossierItems>
                                                </ContentTemplate>
                                            </AccordionItem>
                                        </AccordionItems>
                                    </SfAccordion>
                                </div>
                            </div>
                            @*ALLEGATI EMAIL*@
                            @if (@IsAttachVisible)
                            {
                                <div class="row form-group">
                                    <div class="col">
                                        <SfAccordion>
                                            <AccordionItems>
                                                <AccordionItem Expanded="@(IsAttachExpanded && !ForceCollapsed)">
                                                    <HeaderTemplate>
                                                        <div>Allegati in Email</div>
                                                    </HeaderTemplate>
                                                    <ContentTemplate>
                                                        <OriginalAttachsTable nAttachID="@AttachID" nAttachments="@SourceAttach"></OriginalAttachsTable>
                                                    </ContentTemplate>
                                                </AccordionItem>
                                            </AccordionItems>
                                        </SfAccordion>
                                    </div>
                                </div>
                            }
                        }

                        @*PDF VIEWER*@
                        <div class="row form-group">
                            <div class="col">
                                <SfAccordion>
                                    <AccordionItems>
                                        <AccordionItem Expanded="true">
                                            <HeaderTemplate>
                                                <div>Anteprima</div>
                                            </HeaderTemplate>
                                            <ContentTemplate>                                                
                                                <DocViewer @ref="@Viewer" OnDocumentTransformed="OnDocumentTransformedZ" nHeight=700 nSourceType="@PDFSourceType" nDocIdentifier="@PDFSourceId"></DocViewer>
                                            </ContentTemplate>
                                        </AccordionItem>
                                    </AccordionItems>
                                </SfAccordion>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </CardContent>
    </SfCard>

    <QuestionDialog nTitle="Conferma"
                    nText="Rimuovo l'email selezionata?"
                    OnExitPressed="OnCloseDialog"
                    OnNoPressed="OnCloseDialog"
                    OnYesPressed="OnDeleteConfirmed"
                    OnClose="OnCloseDialog"
                    nShowDialog="@ShowConfirm">
    </QuestionDialog>

    <Toast @ref="ToastOK" nToastType="Toast.e_ToastType.OK" nTitle="Elimina email" nContent="Email eliminata correttamente"></Toast>
    <Toast @ref="ToastKO" nToastType="Toast.e_ToastType.Fail" nTitle="Elimina email" nContent="Eliminazione non riuscita"></Toast>

    <Toast @ref="ToastMoveOK" nToastType="Toast.e_ToastType.OK" nTitle="Sposta email" nContent="Email spostata correttamente"></Toast>
    <Toast @ref="ToastMoveKO" nToastType="Toast.e_ToastType.Fail" nTitle="Sposta email" nContent="Spostamento NON riuscito"></Toast>

    <Toast @ref="ToastForwardOK" nToastType="Toast.e_ToastType.OK" nTitle="Inoltra email" nContent="Email inoltrata correttamente"></Toast>
    <Toast @ref="ToastForwardKO" nToastType="Toast.e_ToastType.Fail" nTitle="inoltra email" nContent="Inoltro NON riuscito"></Toast>

    <Toast @ref="ToastAnswerOK" nToastType="Toast.e_ToastType.OK" nTitle="Rispondi a email" nContent="Email inviata correttamente"></Toast>
    <Toast @ref="ToastAnswerKO" nToastType="Toast.e_ToastType.Fail" nTitle="Rispondi a email" nContent="Invio NON riuscito"></Toast>
</section>

@code
{
    /// <summary>
    /// Email that has to be selected, if any. We expect to receive the qattach id of the email selected
    /// </summary>
    [Parameter]
    public string nPreselAttach { get; set; } = "";

    /// <summary>
    /// Folder that has to be preselected
    /// </summary>
    [Parameter]
    public string nPreselFolder { get; set; } = "";

    /// <summary>
    /// Item that has to be preselected
    /// </summary>
    [Parameter]
    public string nPreselItem { get; set; } = null;

    /// <summary>
    /// Force the collapsing of dossier and costumers
    /// </summary>
    [Parameter]
    public bool ForceCollapsed { get; set; } = false;

    /// <summary>
    /// Indicate an autoselection of an item
    /// </summary>
    private string AutoSel { get; set; } = "";

    /// <summary>
    /// Document viewer
    /// </summary>
    private DocViewer Viewer { get; set; }

    /// <summary>
    /// Reference to the Mail grid
    /// </summary>
    private MailTable Grid { get; set; }

    /// <summary>
    /// Indicates if the spinner has to be showed
    /// </summary>
    private bool IsSpinnerVisible { get; set; } = false;

    /// <summary>
    /// Indicates if Mail attachments panel is visible
    /// </summary>
    private bool IsAttachVisible { get; set; } = false;

    /// <summary>
    /// Indicates if Mail attachments panel has has to be expanded
    /// </summary>
    private bool IsAttachExpanded { get; set; } = false;

    /// <summary>
    /// Indicates if Answer panel is visible
    /// </summary>
    private bool IsAnswerDialog { get; set; } = false;

    /// <summary>
    /// Indicates if Forward panel is visible
    /// </summary>
    private bool IsForwardDialog { get; set; } = false;

    /// <summary>
    /// Indicates if Move panel is visible
    /// </summary>
    private bool IsMoveDialog { get; set; } = false;

    /// <summary>
    /// Indicates if HTML panel is visible
    /// </summary>
    private bool IsShowDialog { get; set; } = false;

    /// <summary>
    /// Indicates if LOG panel is visible
    /// </summary>
    private bool IsLogsDialog { get; set; } = false;

    /// <summary>
    /// Attach ID
    /// </summary>
    public string AttachID { get; set; }

    /// <summary>
    /// Attachment Subject
    /// </summary>
    private string AttachSubject { get; set; }

    /// <summary>
    /// Dossier ID
    /// </summary>
    private string DossierID { get; set; }

    /// <summary>
    /// Costumer Code
    /// </summary>
    private string CustomerCode
    {
        get;
        set;
    }

    /// <summary>
    /// Costumer Name
    /// </summary>
    private string CustomerName { get; set; } = "";

    /// <summary>
    /// Show delete confirm
    /// </summary>
    private bool ShowConfirm { get; set; } = false;

    /// <summary>
    /// Item ID
    /// </summary>
    private string ItemID { get; set; }

    /// <summary>
    /// Current Mail box
    /// </summary>
    private EmailServer MailBox { get; set; }

    /// <summary>
    /// Current Attach
    /// </summary>
    private AllegatoEmail Attach { get; set; }

    /// <summary>
    /// Toaster for a positive deletion
    /// </summary>
    private Toast ToastOK { get; set; }

    /// <summary>
    /// Toaster for a negative deletion
    /// </summary>
    private Toast ToastKO { get; set; }

    /// <summary>
    /// Toaster for a positive move
    /// </summary>
    private Toast ToastMoveOK { get; set; }

    /// <summary>
    /// Toaster for a negative move
    /// </summary>
    private Toast ToastMoveKO { get; set; }

    /// <summary>
    /// Toaster for a positive forward
    /// </summary>
    private Toast ToastForwardOK { get; set; }

    /// <summary>
    /// Toaster for a negative forward
    /// </summary>
    private Toast ToastForwardKO { get; set; }

    /// <summary>
    /// Toaster for a positive forward
    /// </summary>
    private Toast ToastAnswerOK { get; set; }

    /// <summary>
    /// Toaster for a negative forward
    /// </summary>
    private Toast ToastAnswerKO { get; set; }

    /// <summary>
    /// List of current Attach source Attachments
    /// </summary>
    private ObservableCollection<OriginalAttachments> SourceAttach { get; set; } = new();

    /// <summary>
    /// Current Document as memory stream
    /// </summary>
    public MemoryStream Document => Viewer?.Doc?.Payload ?? new();

    /// <summary>
    /// Show/Hide the dialog for the current selection
    /// </summary>
    private bool ShowCostumerSelection { get; set; } = false;

    /// <summary>
    ///  Source from witch read the PDF (Attachments or items)
    /// </summary>
    public e_SourceType PDFSourceType { get; set; }

    /// <summary>
    /// Id of the PDF Source
    /// </summary>
    public string PDFSourceId { get; set; }

    /// <summary>
    /// Description of the costumer accordion
    /// </summary>
    private string CostumerDesc { get; set; } = "Cliente da selezionare";

    /// <summary>
    /// Description of the dossier accordion
    /// </summary>
    private string DossierDesc { get; set; } = "Fascicolo da selezionare";

    /// <summary>
    /// Indicateds if costumer block has to be expanded
    /// </summary>
    private bool IsCustomerExpand { get; set; } = true;


    /// <summary>
    /// On selection of the email,shows and hide panels properly
    /// </summary>
    /// <param name="e"></param>
    public async void OnSelectAttach((AllegatoEmail,bool) e)
    {
        try
        {    

            IsCustomerExpand = true;

            if (e.Item1 == null)
            {
                _Logger.LogDebug($"Inbox[MAIL].OnSelectAttach: DeSelecting attach");
                DossierID = "";

                AttachID = "";                
                CustomerCode = "";
                CostumerDesc = "";
                PDFSourceId = "";
                PDFSourceType = e_SourceType.Attachment;
                return;
            }

            _Logger.LogDebug($"Inbox[MAIL].OnSelectAttach: Selecting attach {e.Item1.Id}");

            AutoSel=nPreselItem;     
            Attach = e.Item1;
            if (e.Item1?.Id.ToString() != AttachID)
            {
                if(e.Item2)
                    nPreselItem = null;
                PDFSourceId = e.Item1.Id.ToString();
                PDFSourceType = e_SourceType.Attachment;
            }

            if (AttachID != e.Item1.Id.ToString())
                AttachID = e.Item1.Id.ToString();

            if (DossierID != e.Item1.IdFascicolo.ToString())
                DossierID = e.Item1.IdFascicolo.ToString();            


            if (CustomerCode != e.Item1.Chiave3)
            {
                CustomerCode = e.Item1.Chiave3;           
                CustomerName = Attach?.jAttributi["NomeSoggetto"]?.ToString();                
            }
            ApplyCustomer();

            OnAbort();
        }
        catch (Exception ex)
        {
            _Logger.LogError($"Inbox[MAIL].OnSelectAttach: Unexpected errro on selecting attach {ex}");
        }
    }


    /// <summary>
    /// Once a document has been loaded, refresh the source attachment
    /// </summary>
    /// <param name="O"></param>
    public async void OnDocumentTransformedZ(List<OriginalAttachments> O)
    {
        if (PDFSourceType == e_SourceType.Attachment)
        {
            SourceAttach.Clear();
            foreach (OriginalAttachments o in O)
                SourceAttach.Add(o);


            IsAttachVisible = (SourceAttach.Count != 0);
            IsAttachExpanded = (SourceAttach.Count != 0 && (SourceAttach.Any(x => !string.IsNullOrEmpty(x.Warning)) || SourceAttach.Any(x => x.IsIncluded == false)));
        }
    }

    /// <summary>
    /// Change the mail box selected
    /// </summary>
    /// <param name="e"></param>
    public async void OnMailboxChanged(EmailServer e)
    {
        MailBox = e;

    }

    /// <summary>
    /// Activate replay panel
    /// </summary>
    /// <param name="e"></param>
    public async void OnReply(AllegatoEmail e)
    {
        AttachSubject = e.Chiave4;

        IsForwardDialog = false;
        IsMoveDialog = false;
        IsShowDialog = false;
        IsLogsDialog = false;

        IsAnswerDialog = !IsAnswerDialog;
    }

    /// <summary>
    /// Activate forward panel
    /// </summary>
    /// <param name="e"></param>
    public async void OnForward(AllegatoEmail e)
    {
        AttachSubject = e.Chiave4;
        IsAnswerDialog = false;
        IsMoveDialog = false;
        IsShowDialog = false;
        IsLogsDialog = false;

        IsForwardDialog = !IsForwardDialog;
    }

    /// <summary>
    /// Activate move panel
    /// </summary>
    /// <param name="e"></param>
    public async void OnMove(AllegatoEmail e)
    {
        AttachSubject = e.Chiave4;
        IsAnswerDialog = false;
        IsForwardDialog = false;
        IsShowDialog = false;
        IsLogsDialog = false;

        IsMoveDialog = !IsMoveDialog;
    }

    /// <summary>
    /// Activate HTML panel
    /// </summary>
    /// <param name="e"></param>
    public async void OnShow(AllegatoEmail e)
    {
        AttachSubject = e.Chiave4;
        IsAnswerDialog = false;
        IsForwardDialog = false;
        IsMoveDialog = false;
        IsLogsDialog = false;

        IsShowDialog = !IsShowDialog;
    }

    /// <summary>
    /// Activate logs panel
    /// </summary>
    /// <param name="e"></param>
    public async void OnShowLogs(AllegatoEmail e)
    {
        AttachSubject = e.Chiave4;
        IsAnswerDialog = false;
        IsForwardDialog = false;
        IsMoveDialog = false;
        IsShowDialog = false;

        IsLogsDialog = !IsLogsDialog;
    }

    /// <summary>
    /// Ask deletion confirm
    /// </summary>
    /// <param name="e"></param>
    public async void OnDelete(AllegatoEmail e)
    {
        ShowConfirm = true;
    }

    /// <summary>
    /// Close dialog confirm
    /// </summary>
    public async void OnCloseDialog()
    {
        ShowConfirm = false;
    }

    /// <summary>
    /// Delete selected attachment
    /// </summary>
    public async void OnDeleteConfirmed()
    {
        try
        {
            Stopwatch sw = Stopwatch.StartNew();
            ShowConfirm = false;
            var User = _HttpContextAccessor.HttpContext.User;

            var all = _MailService._allMan.Get(Attach.Id.ToString());
            if (all != null)
            {
                all.Stato = StatoAllegato.Annullato;
                _MailService._allMan.Salva(all, false);
                _MailService._logMan.PostLog(all.Id, TipiOggetto.ALLEGATO, TipoOperazione.Cancellato, User.Identity.Name, $"Allegato [{all.Descrizione}] rimosso",new(){ {"1",all.Chiave1},{"2",all.Chiave2},{"3",all.Chiave3},{"4",all.Chiave4},{"5",all.Chiave5} });              
                ToastOK.Show();
            }

            Grid.RemoveItem(AttachID);
            _Logger.LogInformation($"Inbox[MAIL].OnDeleteConfirmed: Mail {Attach.Id} deleted in {sw.ElapsedMilliseconds} ms");
        }
        catch (Exception ex)
        {
            _Logger.LogError($"Inbox[MAIL].OnDeleteConfirmed: Unexpeted error deleting {Attach.Id}, {ex}");
            ToastKO.Show();
        }
    }

    /// <summary>
    /// Once Move has done, show the proper toast
    /// </summary>
    /// <param name="RA"></param>
    private async void OnDone(Models.RisultatoAzione RA)
    {
        if (RA.Successo)
        {    
            ToastMoveOK.Show();
            Grid.RemoveItem(AttachID);
        }
        else ToastMoveKO.Show();

        OnAbort();
    }

    /// <summary>
    /// Once forward or aswer is done, show the proper toast
    /// </summary>
    /// <param name="RA"></param>
    private async void OnSend(Models.RisultatoAzione RA)
    {
        if (IsForwardDialog)
        {
            if (RA.Successo) ToastForwardOK.Show();
            else ToastForwardKO.Show();
        }
        else
        {
            if (RA.Successo) ToastAnswerOK.Show();
            else ToastAnswerKO.Show();
        }
        Grid.Refresh();
        OnAbort();
    }


    /// <summary>
    /// Close all dialog panels
    /// </summary>
    private async void OnAbort()
    {
        IsAnswerDialog = false; IsForwardDialog = false; IsMoveDialog = false; IsShowDialog = false; IsLogsDialog = false;
    }



    /// <summary>
    /// On linking item, refresh the grid and components
    /// </summary>
    /// <param name="data"></param>
    private async void OnLinkToItem((string DossierId, string ItemId) data)
    {
        Grid.Refresh();
        DossierID = data.DossierId;
        nPreselItem = data.ItemId;      
    }

    /// <summary>
    /// Link the costumer to current Attach
    /// </summary>
    /// <param name="Customer">Costumer to link</param>
    public void OnLinkCostumer(REG_CustomerSearch.CustomerData Customer)
    {
        if (Customer.AttachId == Attach.Id.ToString())
        {
            CustomerCode = Customer.Customer?.Codice ?? "";
            CustomerName = Customer.Customer?.Nome ?? "";
            ApplyCustomer();
        }
    }

    /// <summary>
    /// Set Description of the costumer
    /// </summary>
    public void ApplyCustomer()
    {
        CostumerDesc = "";
        if (string.IsNullOrEmpty(Attach.Chiave3))
            CostumerDesc = $"Cliente da selezionare";
        else if (!string.IsNullOrEmpty(CustomerCode))
            CostumerDesc = $"{CustomerCode} - {CustomerName?? ""}";       
        else if (string.IsNullOrEmpty(CustomerCode) && string.IsNullOrEmpty(CustomerName))
            CostumerDesc = $"Cliente con codice [{Attach.Chiave3}] non trovato";

    }

    /// <summary>
    /// On getting open items , fires out the number of items detected
    /// </summary>
    /// <param name="Items"></param>

    public void OnOpenItems(int Items)
    {
        if (Items == 0 && !string.IsNullOrEmpty(Attach?.Chiave3 ?? ""))
            IsCustomerExpand = false;
        else
            IsCustomerExpand = true;
    }

    /// <summary>
    /// On Dossier loaded, set the descrition on the accordion
    /// </summary>
    /// <param name="Dossier">Fossier currently opened</param>
    public void OnRefreshDossier(Fascicoli Dossier)
    {
        DossierDesc = (Dossier == null) ? "Fascicolo da selezionare" : $"Fascicolo: {Dossier?.Descrizione} [{Dossier?.Id}]";
    }

    /// <summary>
    /// On completed attach, i refresh the grid
    /// </summary>
    /// <param name="AttachId"></param>
    public async void OnAttachCompleted(string AttachId)
    {
        Grid.RemoveItem(AttachId);
    }


    /// <summary>
    /// On selected Item, Reload the PDF from the item
    /// </summary>
    /// <param name="Id">Id of the item to load on PDF preview</param>
    public void OnSelectedItem(string Id)
    {
        if(!string.IsNullOrEmpty(Id))
        {
            if (PDFSourceId == Id)
            {
                Viewer.ForceReload();
            }
            else
            {
                PDFSourceId = Id;
                PDFSourceType = e_SourceType.Item;
            }
        }
    }

    /// <summary>
    /// On starting of registration collapse all accordion
    /// </summary>
    public async void OnBeginReg()
    {
        ForceCollapsed = true;
    }

    /// <summary>
    /// On ending of registration release all accordion
    /// </summary>
    public async void OnEndReg()
    {
         ForceCollapsed = false;
    }
}
