@*
    Page that manage the sent emails and its interactions
*@

@page  "/Mail/Sent"
@page "/Mail/Sent/{nPreselAttach}"
@using dblu.Docs.Models
@using dblu.Docs.Classi
@using dblu.Portale.Plugin.Docs.Services
@using dblu.Portale.Plugin.Docs.Pages.Docs.Shared
@using dblu.Portale.Plugin.Docs.Pages.Mail.Shared
@using dblu.Portale.Plugin.Docs.Classes
@using Microsoft.AspNetCore.Http
@using System.IO;
@inject dblu.Portale.Plugin.Docs.Services.MailService _MailService
@inject IHttpContextAccessor _HttpContextAccessor
@inject ILogger<Processed> _Logger

<PageTitle nTitle="Sent" />

<section class="content">

    <SfSpinner @bind-Visible="IsSpinnerVisible">
    </SfSpinner>

    <SfCard>
        <CardHeader Title="Email inviate" />
        <CardContent EnableSeperator="true">
            <div class="row form-group">
                <div class="col-5" style="align-self: auto;">
                    <div class="row form-group">
                        <div class="col">
                            <ServerCombo @bind-nServer="@MailBox"></ServerCombo>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col">
                            <MailTable @ref="@Grid" nType="MailTable.TableType.Sent" nMailBox="@MailBox"  OnSelectAttachment="OnSelectAttach" OnDeleteAttachment="OnDelete" OnForwardAttachment="OnForward" OnShowLogsAttachment="OnShowLogs" nPreselAttach="@nPreselAttach"></MailTable>
                        </div>
                    </div>

                </div>

                <div class="col-7" style="align-self: auto;">
                    @if (AttachID is not null)
                    {
                    @if (IsForwardDialog)
                    {
                        <div class="row form-group">
                            <div class="col">
                                <SfAccordion>
                                    <AccordionItems>
                                        <AccordionItem Expanded="true">
                                            <HeaderTemplate>
                                                <div>Inoltra <b>@AttachSubject</b></div>
                                            </HeaderTemplate>
                                            <ContentTemplate>
                                                <MailForward nAttach="@Attach" nSourceServer="@MailBox" OnAbort="OnAbort" nShowCloseCheck="false" OnOperationDone="OnForward"></MailForward>
                                            </ContentTemplate>
                                        </AccordionItem>
                                    </AccordionItems>
                                </SfAccordion>
                            </div>
                        </div>
                    }
                    else if (IsLogsDialog)
                    {
                        <div class="row form-group">
                            <div class="col">
                                <SfAccordion>
                                    <AccordionItems>
                                        <AccordionItem Expanded="true">
                                            <HeaderTemplate>
                                                <div>Operazioni sulla mail <b>@AttachSubject</b></div>
                                            </HeaderTemplate>
                                            <ContentTemplate>
                                                <MailLogs nAttach="@Attach" OnAbort="OnAbort"></MailLogs>
                                            </ContentTemplate>
                                        </AccordionItem>
                                    </AccordionItems>
                                </SfAccordion>
                            </div>
                        </div>
                    }
                    else
                    {
                        @*CLIENTE*@
                        <div class="row form-group">
                            <div class="col">
                                <SfAccordion>
                                    <AccordionItems>
                                        <AccordionItem Expanded="true">
                                            <HeaderTemplate>
                                                <div>@CostumerDesc</div>
                                            </HeaderTemplate>
                                            <ContentTemplate>
                                                <AttachCustomer @ref="CustomerComponent"  nAttachments="@SourceAttach" nReadOnly="true" nCostumerCode="@CustomerCode" nAttachID="@AttachID"></AttachCustomer>
                                            </ContentTemplate>
                                        </AccordionItem>
                                    </AccordionItems>
                                </SfAccordion>
                            </div>
                        </div>
                        @*EMAIL PREVIEW*@
                        <div class="row form-group">
                            <div class="col">
                                <SfAccordion>
                                    <AccordionItems>
                                        <AccordionItem Expanded="true">
                                            <HeaderTemplate>
                                                <div>Struttura di <span style="font-weight:800;color:#114b5a">@Attach?.Oggetto</span></div>
                                            </HeaderTemplate>
                                            <ContentTemplate>
                                                <MailHTMLView nShowBack="false" nAttach="@Attach" OnDocumentLoaded="OnDocumentLoaded" nReadAttachments="true" nHeight="300"></MailHTMLView>
                                            </ContentTemplate>
                                        </AccordionItem>
                                    </AccordionItems>
                                </SfAccordion>
                            </div>
                        </div>

                        @*ALLEGATI EMAIL*@
                        @if (@IsAttachVisible)
                        {
                            <div class="row form-group">
                                <div class="col">
                                    <SfAccordion>
                                        <AccordionItems>
                                            <AccordionItem Expanded="true">
                                                <HeaderTemplate>
                                                    <div>Allegati in Email</div>
                                                </HeaderTemplate>
                                                <ContentTemplate>
                                                    <OriginalAttachsTable nAttachID="@AttachID" nAttachments="@SourceAttach"></OriginalAttachsTable>
                                                </ContentTemplate>
                                            </AccordionItem>
                                        </AccordionItems>
                                    </SfAccordion>
                                </div>
                            </div>
                        }
                    }
                    }
                </div>
            </div>
        </CardContent>
    </SfCard>

    <QuestionDialog nTitle="Conferma"
                    nText="Rimuovo l'email anche dalla casella di posta?"
                    nYes="Da entrambi"
                    nNo="Solo dall'archivio"
                    OnExitPressed="OnCloseDialog"
                    OnNoPressed="()=>OnDeleteConfirmed(false)"
                    OnYesPressed="()=>OnDeleteConfirmed(true)"
                    OnClose="OnCloseDialog"
                    nShowDialog="@ShowConfirm">
    </QuestionDialog>

    <Toast @ref="ToastOK" nToastType="Toast.e_ToastType.OK" nTitle="Elimina email" nContent="Email eliminata correttamente"></Toast>
    <Toast @ref="ToastKO" nToastType="Toast.e_ToastType.Fail" nTitle="Elimina email" nContent="Eliminazione non riuscita"></Toast>

    <Toast @ref="ToastForwardOK" nToastType="Toast.e_ToastType.OK" nTitle="Inoltra email" nContent="Email inoltrata correttamente"></Toast>
    <Toast @ref="ToastForwardKO" nToastType="Toast.e_ToastType.Fail" nTitle="inoltra email" nContent="Inoltro NON riuscito"></Toast>

</section>

@code
{
    /// <summary>
    /// Email that has to be selected, if any. We expect to receive the qattach id of the email selected
    /// </summary>
    [Parameter]
    public string nPreselAttach { get; set; } = "";

    /// <summary>
    /// Reference to the Mail grid
    /// </summary>
    private MailTable Grid { get; set; }

    /// <summary>
    /// Indicates if the spinner has to be showed
    /// </summary>
    private bool IsSpinnerVisible { get; set; } = false;

    /// <summary>
    /// Indicates if HTML panel is visible
    /// </summary>
    private bool IsShowDialog { get; set; } = false;

    /// <summary>
    /// Indicates if Mail attachments panel is visible
    /// </summary>
    private bool IsAttachVisible { get; set; } = false;

    /// <summary>
    /// Indicates if Answer panel is visible
    /// </summary>
    private bool IsAnswerDialog { get; set; } = false;

    /// <summary>
    /// Indicates if Forward panel is visible
    /// </summary>
    private bool IsForwardDialog { get; set; } = false;

    /// <summary>
    /// Indicates if LOG panel is visible
    /// </summary>
    private bool IsLogsDialog { get; set; } = false;

    /// <summary>
    /// Attach ID
    /// </summary>
    public string AttachID { get; set; }

    /// <summary>
    /// Attachment Subject
    /// </summary>
    private string AttachSubject { get; set; }


    /// <summary>
    /// Costumer Code
    /// </summary>
    private string CustomerCode
    {
        get;
        set;
    }

    /// <summary>
    /// Show delete confirm
    /// </summary>
    private bool ShowConfirm { get; set; } = false;

    /// <summary>
    /// Item ID
    /// </summary>
    private string ItemID { get; set; }

    /// <summary>
    /// Dossier ID
    /// </summary>
    private string DossierID { get; set; }

    /// <summary>
    /// Current Mail box
    /// </summary>
    private EmailServer MailBox { get; set; }

    /// <summary>
    /// Current Attach
    /// </summary>
    private AllegatoEmail Attach { get; set; }

    /// <summary>
    /// Toaster for a positive deletion
    /// </summary>
    private Toast ToastOK { get; set; }

    /// <summary>
    /// Toaster for a negative deletion
    /// </summary>
    private Toast ToastKO { get; set; }

    /// <summary>
    /// Toaster for a positive forward
    /// </summary>
    private Toast ToastForwardOK { get; set; }

    /// <summary>
    /// Toaster for a negative forward
    /// </summary>
    private Toast ToastForwardKO { get; set; }

    /// <summary>
    /// List of current Attach source Attachments
    /// </summary>
    private ObservableCollection<OriginalAttachments> SourceAttach { get; set; } = new();

    /// <summary>
    /// Reference to che Customer Component
    /// </summary>
    private AttachCustomer CustomerComponent { get; set; }

    /// <summary>
    /// Description to show on "Costumer" tab
    /// </summary>
    private string CostumerDesc => (CustomerComponent?.CurrentCostumer == null) ? "Cliente da selezionare" : $"{CustomerComponent?.CurrentCostumer?.Codice ?? ""} - {CustomerComponent?.CurrentCostumer?.Nome ?? ""}";


    /// <summary>
    /// On selection of the email,shows and hide panels properly
    /// </summary>
    /// <param name="e"></param>
    public void OnSelectAttach(AllegatoEmail e)
    {
        Task.Run(() =>
        {            
            if (e == null)
            {
                AttachID = null;
                DossierID = null;
                CustomerCode = null;
                return;
            }
            Attach = e;

            if (AttachID != e.Id.ToString())
                AttachID = e.Id.ToString();

            if (DossierID != e.IdFascicolo.ToString())
                DossierID = e.IdFascicolo.ToString();

            if (CustomerCode != e.Chiave3)
                CustomerCode = e.Chiave3;

            OnAbort();
        });
    }


    /// <summary>
    /// Change the mail box selected
    /// </summary>
    /// <param name="e"></param>
    public async void OnMailboxChanged(EmailServer e)
    {
        MailBox = e;
    }

    /// <summary>
    /// Activate replay panel
    /// </summary>
    /// <param name="e"></param>
    public async void OnReply(AllegatoEmail e)
    {
        AttachSubject = e.Chiave4;

        IsForwardDialog = false;
        IsLogsDialog = false;

        IsAnswerDialog = !IsAnswerDialog;
    }

    /// <summary>
    /// Activate forward panel
    /// </summary>
    /// <param name="e"></param>
    public async void OnForward(AllegatoEmail e)
    {
        AttachSubject = e.Chiave4;
        IsAnswerDialog = false;
        IsLogsDialog = false;

        IsForwardDialog = !IsForwardDialog;
    }


    /// <summary>
    /// Activate HTML panel
    /// </summary>
    /// <param name="e"></param>
    public async void OnShow(AllegatoEmail e)
    {
        AttachSubject = e.Chiave4;
        IsAnswerDialog = false;
        IsForwardDialog = false;
        IsLogsDialog = false;

        IsShowDialog = !IsShowDialog;
    }

    /// <summary>
    /// Activate logs panel
    /// </summary>
    /// <param name="e"></param>
    public async void OnShowLogs(AllegatoEmail e)
    {
        AttachSubject = e.Chiave4;
        IsAnswerDialog = false;
        IsForwardDialog = false;

        IsLogsDialog = !IsLogsDialog;
    }

    /// <summary>
    /// Ask deletion confirm
    /// </summary>
    /// <param name="e"></param>
    public async void OnDelete(AllegatoEmail e)
    {
        ShowConfirm = true;
    }

    /// <summary>
    /// Close dialog confirm
    /// </summary>
    public async void OnCloseDialog()
    {
        ShowConfirm = false;
    }


    /// <summary>
    /// Delete selected attachment
    /// </summary>
    public async void OnDeleteConfirmed(bool nServer)
    {
        try
        {
            ShowConfirm = false;
            if (Attach != null)
            {
                Stopwatch sw = Stopwatch.StartNew();
                var User = _HttpContextAccessor.HttpContext.User;

                Models.RisultatoAzione res = await _MailService.CancellaEmail(Attach.Id.ToString(), nServer, User);
                _Logger.LogInformation($"Sent[MAIL].OnDeleteConfirmed: Mail {Attach.Id} deleted in {sw.ElapsedMilliseconds} ms");
                Grid.Refresh();
                ToastOK.Show();
            }
            else
            {
                ToastKO.Show();
            }
        }
        catch (Exception ex)
        {
            _Logger.LogError($"Sent[MAIL].OnDeleteConfirmed: Unexpeted error deleting {Attach.Id}, {ex}");
            ToastKO.Show();
        }
    }


    /// <summary>
    /// Once forward has done, show the proper toast
    /// </summary>
    /// <param name="RA"></param>
    private async void OnForward(Models.RisultatoAzione RA)
    {
        if (RA.Successo)
            ToastForwardOK.Show();
        else ToastForwardKO.Show();
        Grid.Refresh();
        OnAbort();
    }

    /// <summary>
    /// Close all dialog panels
    /// </summary>
    private async void OnAbort()
    {
        IsForwardDialog = false; IsShowDialog = false; IsLogsDialog = false;
    }

    /// <summary>
    /// On completed attach, i refresh the grid
    /// </summary>
    /// <param name="AttachId"></param>
    public async void OnAttachCompleted(string AttachId)
    {
        Grid.Refresh();
        Grid.SelectedRow = 0;
    }


    /// <summary>
    /// Onche a docuemtn has been loaded it displays the list of original attachments
    /// </summary>
    /// <param name="Attachs">List of the attachments to diplay</param>
    public void OnDocumentLoaded(List<OriginalAttachments> Attachs)
    {
        if (Attachs != null && Attachs.Count != 0)
        {
            IsAttachVisible = true;
            SourceAttach = new ObservableCollection<OriginalAttachments>(Attachs);
        }
        else
        {
            IsAttachVisible = false;
            SourceAttach.Clear();
        }
    }

}
