@model dblu.Docs.Models.Allegati
@using dblu.Docs.Classi
@using dblu.Docs.Models
@inject dblu.Portale.Plugin.Docs.Services.MailService _mailservice
@inject dblu.Docs.Interfacce.ISoggettiService  _sggservice

@using Kendo.Mvc.UI
@using dblu.Portale.Plugin.Docs.ViewModels
@addTagHelper *, Kendo.Mvc
@{
    ViewData["Title"] = "Email in arrivo";

    TipiAllegati TipoAll = _mailservice._allMan.GetTipoAllegato("EMAIL");

    var ListaTipiElementi = await _mailservice._elmMan.GetAllTipiElementiAsync();

    // TipiElementi Tipoelemento = _mailservice..GetTipoAllegato("EMAIL");

    //var attr = new dblu.Portale.Plugin.Docs.ViewModels.AttributiViewModel();
    //attr.Attributi = TipoAll.Attributi;
    //attr.NomeView = TipoAll.ViewAttributi;
    //attr.Valori = "{\"Mittente\":\"roberta@miottomobili.it\",\"Data\":\"2019-12-13T09:41:10Z\",\"CodiceSoggetto\":\"aaa\",\"Oggetto\":\"CONFERMA\",\"MessageId\":\"CAK_jKF0R_JhvOJG4zjWTvgGhW1HAspKLDTN1zFYcUjV3-vgfdg@mail.gmail.com\",\"CodiceCliente\":\"21351\",\"NomeServer\":\"Test\"}";

    //};

}

<style>

    #gridEmail td {
        font-size: 12px;
        padding-top: 0em;
        padding-bottom: 0em;
        height: 100%;
    }

    #emailAttachments td {
        font-size: 12px;
        padding-top: 0em;
        padding-bottom: 0em;
    }

    html body #pdfviewer {
        width: 100% !important;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.3.915/js/kendo.all.min.js"></script>
<script>
    window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';
</script>

<section class="content-header">
    <h1>
        Email in arrivo
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Index"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="/Docs/MailInArrivo">Email in arrivo</a></li>
    </ol>
</section>

@*@await Component.InvokeAsync("EditAttributi", attr)

    @{Html.RenderPartial(attr.NomeView, attr);};

*@

<script>
    gridEmailOnChange = function (e) {
        var data = this.dataItem(this.select());

        //alert(data.Id);
        PulisciDettaglio();

        $("#IdAllegato").val(data.Id);

        $.ajax({
            url: '@Url.Action("InArrivoCaricaDettaglio", "MailView")',
            type: 'POST',
            cache: false,
            data: { Id: data.Id },
            success: function (data) {
                var dettaglio = data;

                MostraDettaglio(dettaglio);
            },
            error: function (data) {

            }
         });


        @*
        var nomefile = data.NomeFile;

        var pdfViewer = $("#pdfviewer").data("kendoPDFViewer");
        if (!pdfViewer) {
            pdfViewer = $("#pdfviewer").kendoPDFViewer({
                pdfjsProcessing: {
                    file: ""
                },
                width: "100%",
                height: 500
            }).data("kendoPDFViewer");
        }

        pdfViewer.width = "100%";
        pdfViewer.height = 700;
        var url = "IdAllegato=" + '@vModel.IdAllegato' + "&NomeFile=" + nomefile;
        var pdfHandlerUrl = "/MailView/GetPdf/data?" + url;
        pdfViewer.fromFile(pdfHandlerUrl);
        *@

    }

    function PulisciDettaglio() {
        $("#TestoEmail").val("");
        $('#emailAttachments').data('kendoGrid').dataSource.data("{}")
        $('#divFascicolo').hide();
        $('#divElemento').hide();
        $('#ApriDettaglio').hide();
        $('#AggiungiAElemento').hide();
        $('#Completa').hide();
        try {
            var pdfViewer = $("#pdfviewer").data("kendoPDFViewer");
            pdfViewer.fromFile("");
        }
        catch(err) {

        }

    }

    function MostraDettaglio(dettaglio) {
        $("#TestoEmail").val(dettaglio.TestoEmail);
        $('#CodiceSoggetto').val(dettaglio.CodiceSoggetto);
        $('#NomeSoggetto').val(dettaglio.NomeSoggetto);
        if (dettaglio.CodiceSoggetto != '') {
            $('#divFascicolo').show();
        }
        $('#IdFascicolo').val(dettaglio.IdFascicolo);
        $('#IdElemento').val(dettaglio.IdElemento);
        //alert(dettaglio.DescrizioneElemento);
        $('#DescrizioneElemento').val(dettaglio.DescrizioneElemento);
        if (dettaglio.IdElemento != '') {
            $('#divElemento').show();
            $('#ApriDettaglio').show();
            $('#AggiungiAElemento').show();
            //alert(dettaglio.Stato);
            if (dettaglio.Stato > 1) {
               $('#Completa').show();
            }
        }
        $('#emailAttachments').data('kendoGrid').dataSource.data(dettaglio.FileAllegati);

    }

    function FascicoliData() {
        return {
            soggetto: $("#CodiceSoggetto").val()
        }
    }

    function CaricaElemento(elemento) {
        $('#IdFascicolo').val(elemento.IdFascicolo);
        $('#IdElemento').val(elemento.Id);
        //alert(dettaglio.DescrizioneElemento);
        $('#DescrizioneElemento').val(elemento.Descrizione);
        $('#divElemento').show();
        $('#ApriDettaglio').show();
        $('#AggiungiAElemento').show();
        $('#ApriDettaglio').click();
    }

</script>
<script>
    //Attachments_OnRowSelect = function (e) {

    function Attachments_OnRowSelect(arg) {
        var data = this.dataItem(this.select());
        if (data != null) {
        
     

            var nomefile = data.NomeFile;
            var IdAllegato = $("#IdAllegato").val();
            //if (nomefile.indexOf(".pdf") > 0) {
            //    $('#anteprimapdf').show();
            //    $('#anteprimajpg').hide();
                var pdfViewer = $("#pdfviewer").data("kendoPDFViewer");
                if (!pdfViewer) {
                    pdfViewer = $("#pdfviewer").kendoPDFViewer({
                        pdfjsProcessing: {
                            file: ""
                        },
                        width: "100%",
                        height: 500
                    }).data("kendoPDFViewer");
                }
                pdfViewer.width = "100%";
                pdfViewer.height = 700;
                var url = "IdAllegato=" + IdAllegato + "&NomeFile=" + nomefile;
                var pdfHandlerUrl = "/MailView/GetPdf/data?" + url;
                pdfViewer.fromFile(pdfHandlerUrl);

            //}
            //else {
            //    if (nomefile.indexOf(".jpg") > 0) {
                    
            //        $('#anteprimajpg').show();
            //        $('#anteprimapdf').hide();

            //        var urlj = "IdAllegato=" + IdAllegato + "&NomeFile=" + nomefile;
            //        var jpgHandlerUrl = window.location.host + "/MailView/Getjpg/data?" + urlj;
            //        alert(jpgHandlerUrl);
            //        $('#imageviewer').src = jpgHandlerUrl;
            //    }
            //}
      try {
          }
            catch (err) {
               alert(err);
           }
        }
        
    }
</script>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-5">
            <div class="box box-solid box-default">
                @Html.Hidden("IdAllegato")
                @* <div class="box-header with-border">
                                           <h3 class="box-title">email in arrivo</h3>
                                       </div

                                               @(Html.Kendo().Button()
                                          .Name("CercaSoggetti")
                                          .Content("Test")
                                          .Events(ev => ev.Click("cercaonClick"))

                    )
                                 @(Html.Kendo().Window()
                                                   .Name("cercasoggetti")
                                       .Size("auto")
                                       .Title("Dettaglio")
                                       .Visible(false)
                                       .Actions(actions => actions.Refresh().Minimize().Maximize().Close())
                                       .Content("")
                                       .Scrollable(true)
                                       .Draggable(false)
                                       .Resizable()
                                       .Modal(false)
                                       .Width(800)

                                   )
                     .ClientRowTemplate(
                                           "<tr>" +
                                               "<td class='chiave1'>" +
                                                   "<span >#: Chiave1# </span>" +
                                               "</td>" +
                                               "<td class='descrizione'>" +
                                                   "#: Descrizione #" +
                                               "</td>" +
                                               "<td class='chiave2'>" +
                                               "#: Chiave2 #" +
                                               "</td>" +
                                            "</tr>"
                                       )
                *@

                <div class="box-body">
                    <div class="k-grid">
                        @(Html.Kendo().Grid<dblu.Docs.Models.Allegati>()
                        .Name("gridEmail")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.Id).Title("Id").Width(0).Hidden();
                            columns.Bound(p => p.Chiave4).Title("Nome").Width(0).Hidden();
                            columns.Bound(p => p.Chiave1).Title(TipoAll.Attributi.DescrizioneChiave("Chiave1")).Width(150)
                            .ClientTemplate("<span> cliente #: Chiave3# </span> <br/>"
                                + "<span><b> #: Chiave4# </b></span>"
                                + "<span> #: Chiave1# </span><br/>");
                            columns.Bound(p => p.Descrizione).Title("Oggetto").Width(250);
                            columns.Bound(p => p.DataC).Title("Data").Width(50).Format("{0:dd/MM/yy}");
                            columns.Command(command =>
                            {
                                //command.Custom("Apri").Click("OpenEmail");
                                // command.Custom("*Elimina*").Click("DeleteEmail");
                                command.Destroy();
                            }).Width(100);
                        })
                        .Pageable()
                        .Sortable()
                        .Scrollable(s => s.Height("auto"))
                        .Filterable()
                        .Groupable()
                        .Selectable()
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(50)
                            .Batch(false)
                            .ServerOperation(true)
                            .AutoSync(true)
                            .Events(events => events.Error("error_handler"))
                            .Model(model =>
                            {
                                model.Id(p => p.Id);
                            })
                            .Group(group => group.Add(p => p.Chiave4))
                            .Read(read => read.Action("InArrivo_Read", "MailView", new { Tipo = @TipoAll.Codice }))
                         //.Create(update => update.Action("InArrivo_Destroy", "MailView"))
                         //.Update(update => update.Action("InArrivo_Destroy", "MailView"))
                         //.Destroy(update => update.Action("InArrivo_Destroy", "MailView"))
                         )
                         .Events(events => events
                            .Remove("OnRemove")
                            .Change("gridEmailOnChange")
                         )
                         .Resizable(resize => resize.Columns(true))
                         .HtmlAttributes(new { Height = "100%", style = "font-size:10" })

                        )
                    </div>
                </div>
                @*<div>
                    <button id="test" onclick="dettonclick()">Test</button>
                </div>*@
            </div>
        </div>
        <div class="col-xs-7">
            <div class="box box-solid box-default">
                <div class="box-body">
                    <form>
                    <div class="form-group">
                        <label class="control-label col-md-4" style="font-size:12px">Cliente</label>
                        <div class="col-md-10" style="width:80%;">
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <input type="text" class="form-control" id="CodiceSoggetto" placeholder="" disabled value="" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="NomeSoggetto" placeholder="" disabled value="" />
                                </div>
                                @(Html.Kendo().Button()
                                    .Name("CercaSoggetti")
                                    .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                    .Content("Cerca")
                                    .Events(e=> e.Click("CercaSoggettiOnClick") )
                                )
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="box box-solid box-default" id="divFascicolo" hidden>
                @Html.Hidden("IdFascicolo")
                @Html.Hidden("IdElemento")
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label col-md-4" style="font-size:12px">Fascicolo / Elemento</label>
                        <div class="col-md-10" style="width:80%;">
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <input type="text" class="form-control" id="DescrizioneElemento" placeholder="" value="" />
                                </div>
                                @(Html.Kendo().Button()
                                        .Name("CercaFascicolo")
                                        .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                        .Content("Cerca")
                                    .Events(e => e.Click("CercaElementiOnClick"))
                                )
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="divElemento">
                        <div class="col-md-10" style="width:80%;">
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    @(Html.Kendo().Button()
                                        .Name("ApriDettaglio")
                                        .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                        .Content("Apri")
                                    .Events(e => e.Click("ApriDettaglioOnClick"))
                                    )
                                </div>
                                <div class="form-group col-md-4">
                                    @(Html.Kendo().Button()
                                        .Name("AggiungiAElemento")
                                        .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                        .Content("Aggiungi a Elemento")
                                        .Events(e => e.Click("AggiungiAElementoOnClick"))
                                    )
                                </div>
                                <div class="form-group col-md-3" >
                                    @(Html.Kendo().Button()
                                        .Name("Completa")
                                        .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                        .Content("Email Completa")
                                        .Events(e => e.Click("EmailCompleta"))
                                    )
                                </div>
                            </div>
                        </div>                           
                    </div>
                    <div class="form-group">
                            <label class="control-label col-md-4" style="font-size:12px">Nuovo</label>
                            <div class="col-md-10" style="width:80%;">
                                <div id="DivGridElementi">
                                    <div class="grid-container">
                                        @foreach (dblu.Docs.Models.TipiElementi item in ListaTipiElementi)
                                        {
                                            <div class="grid-item">
                                                @*@item.Descrizione <br /><br />
                                                *@
                                                <button id="@item.Codice" type="button" onclick="NuovoElemento(this, '@item.Categoria', '@item.Codice')" class="b btn btn-info">@item.Descrizione </button>
                                            </div>
                                        }
                                        <style>
                                            .grid-container {
                                                display: inline-grid;
                                                grid-template-columns: auto auto auto;
                                                background-color: #2196F3;
                                                padding: 5px;
                                            }

                                            .grid-item {
                                                background-color: rgba(255, 255, 255, 0.8);
                                                border: 1px solid rgba(0, 0, 0, 0.8);
                                                padding: 5px;
                                                font-size: 15px;
                                                text-align: center;
                                            }

                                            .b {
                                                margin-left: 5px;
                                            }
                                        </style>
                                        <script>
                                        function NuovoElemento(e, Categoria, TipoElemento) {
                                            var idElemento = $('#IdElemento').val();
                                            var gridall = $("#emailAttachments").data("kendoGrid");
                                            var items = '';
                                            var selectedElements = gridall.select();
                                            for (var j = 0; j < selectedElements.length; j++) {
                                                var item = gridall.dataItem(selectedElements[j]);
                                                items = items + item.NomeFile + ';';
                                            }
                                            var r = true;
                                            if (idElemento != "") {
                                                r = confirm("Confermi la creazione di un nuovo elemento nel fascicolo corrente?");
                                            }
                                            if (r) {
                                                var obj = {
                                                    IdAllegato: $("#IdAllegato").val(),
                                                    IdFascicolo: $("#IdFascicolo").val(),
                                                    IdElemento: idElemento,
                                                    Categoria: Categoria,
                                                    TipoElemento: TipoElemento,
                                                    CodiceSoggetto: $("#CodiceSoggetto").val(),
                                                    elencoFile: items,
                                                    AllegaEmail: $("#allegamail").val(),
                                                    Descrizione: $("#DescrizioneElemento").val(),
                                                };
                                                $.ajax({
                                                    url: '@Url.Action("CreaElementoFascicolo","MailView")',
                                                    type: 'POST',
                                                    data: obj,
                                                    success: function (elemento) {
                                                        CaricaElemento(elemento);
                                                    },
                                                    error: function () {

                                                    }
                                                });
                                            }

                                            }
                                       
                                        </script>
              
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-solid box-default">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="form-row">
                                <label class="control-label col-md-2" style="font-size:12px">Testo</label>
                                <div style="width:95%">
                                    <textarea class="form-control" id="TestoEmail" name="TestoEmail" rows="5" style="width:100%" readonly="readonly"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:10px">
                            <label class="control-label col-md-2" style="font-size:12px">Allegati</label>
                            <div class="col-md-12" style="width:80%">
                                @(Html.Kendo().Grid<EmailAttachments>()
                                .Name("emailAttachments")
                                .PersistSelection()
                                .Columns(columns =>
                                {
                                    columns.Select().Width(50).Title("Seleziona");
                                    columns.Bound(p => p.NomeFile).Title("Nome file").Width(150);
                                })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model => model.Id(p => p.Id))
                                    )
                                .HtmlAttributes(new { style = "font-size:10" })
                                .Events(events => events.Change("Attachments_OnRowSelect"))
                                )
                                @*.Events(ev => ev.Change("xxonChange"))*@
                            </div><br /><br />
                        </div>
                        <div class="form-group" style="margin-top:10px">
                            <div class="col-md-10" style="font-size:15px">
                                @(Html.Kendo().CheckBox().Name("allegamail")
                                    .Checked(true).Label("Allega il testo della Mail")
                                )
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:10px">
                            <div class="col-md-12" style="width:80%" id="anteprimapdf" >
                                @(Html.Kendo().PDFViewer().Name("pdfviewer")
                                    .Toolbar(toolbar =>
                                    toolbar.Items(items =>
                                        {
                                            items.Add().Name("pager");
                                            items.Add().Name("spacer");
                                            items.Add().Name("zoom");
                                            items.Add().Name("toggleSelection");
                                        })
                                    )
                                    .Height(600)
                                )
                            </div>
                            <div class="col-md-12" style="width:80%" id="anteprimajpg" hidden>
                                <input type="image" id="imageviewer" src="" style="height:700px;width:auto">
                              </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>

<script>
    function xxonChange(arg) {
        ////alert("The selected product ids are: [" + this.().join(", ") + "]");
        //  var items = {};
        // var grid = $('#emailAttachments').data('kendoGrid');


        // if (grid === undefined) {

        // }
        // else {
        //     var selectedElements = grid.select();
        //     alert(selectedElements.length);
        // }
    }
</script>



<script type="text/javascript">

    function OpenEmail(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //$("#IdAllegato").val(dataItem.Id);

        var url = "@Url.Action("InArrivoApri","MailView" )" + "/" + dataItem.Id;
        window.location.href  = url;

    }

    function OnRemove(e) {
        $("#IdAllegato").val(e.model.Id);
        $.ajax({
            url: '@Url.Action("InArrivo_Cancella","MailView" )',
            type: 'POST',
            cache: false,
            data: { Id: e.model.Id },
            success: function (data) {
                var ok = $.parseJSON(data);

            },
            error: function (data) {
                var ok = $.parseJSON(data);

            }
        });
    }

function EmailCompleta(e) {
        var IdAllegato =  $("#IdAllegato").val();
        $.ajax({
            url: '@Url.Action("InArrivo_Completa","MailView" )',
            type: 'POST',
            cache: false,
            data: { Id: IdAllegato },
            success: function (data) {
                var ok = $.parseJSON(data);
                if (ok) {
                    var grid = $("#gridEmail").data("kendoGrid");
                    grid.dataSource.read(); 
                }

            },
            error: function (data) {
                var ok = $.parseJSON(data);

            }
        });
    }

   @*
    function DeleteEmail(e) {
        //e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#IdAllegato").val(dataItem.Id);
        if (confirm('Eliminare il messaggio?') == true) {
            $.ajax({
                url: '@Url.Action("InArrivo_Cancella","MailView" )',
                type: 'POST',
                cache: false,
                data: { Id: dataItem.Id },
                success: function (data) {
                    var ok = $.parseJSON(data);

                },
                error: function (data) {
                    var ok = $.parseJSON(data);

                }
            });
        }
      }*@
</script>

<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>


@*

    <script>
        function dettonclick(e) {
            var myWindow = $("#cercasoggetti").data("kendoWindow");
            myWindow.refresh({
                url: "@Url.Action("editDettaglioElemento", "MailView")",
                data: { IdElemento: '3BD94BB7-FB8A-4DCB-814C-D9F9805A2A1C' },
                type: "POST"
            });
            myWindow.open();
        }
    </script>

        myWindow.refresh({
                url: "@_sggservice.UrlServizio()",
                data: { codice: '' },
                type: "Post"
            });


        <script>
            GridSoggetti_OnRowSelect = function (e) {
                var data = this.dataItem(this.select());
                var myWindow = $("#cercasoggetti").data("kendoWindow");
                myWindow.close();
                alert(data.Codice)
            }
        </script>
*@

@(Html.Kendo().Window()
    .Name("detElemento")
    .Visible(false).Modal(false)
    .Title("Dettaglio Elemento")
    .Draggable()
    .Resizable()
    .Width(800)
    .Position(p=>p.Top(0).Left(0))  
    .Actions(actions => actions.Pin().Minimize().Maximize().Close())
    .Events(e=> e.Close("detElementoClose"))
)

@(Html.Kendo().Window()
    .Name("cercasoggetti")
    .Size("auto")
    .Title("Cerca")
    .Visible(false)
    .Actions(actions => actions.Refresh().Minimize().Maximize().Close())
    .Content("")
    .Scrollable(true)
    .Draggable(false)
    .Resizable()
    .Width(800)
    .Modal(true)
)

<script>
    function CercaSoggettiOnClick(e) {
        var myWindow = $("#cercasoggetti").data("kendoWindow");
        myWindow.title("Cerca Soggetti");
        myWindow.refresh({
            url: "@_sggservice.UrlServizio()",
            type: "Post"
        });
        myWindow.open().maximize();
    }

    function CaricaSoggetto(codice) {
        if (codice == '') {
            $('#divFascicolo').hide();
        }
        else {
            $('#divFascicolo').show();
        }
        

        //$.post(window.location.origin + '/MailView/GetSoggetto?codice=' + codice, function (data, status) {

            //$("#inputNome").val(data.Nome);
            //$("#inputRag").val(data.Nome);
            //$("#inputIndirizzo").val(data.Indirizzo);
            //$("#inputLocalità").val(data.Localita);
            //$("#inputProvincia").val(data.Provincia);

            //$("#CodiceSoggetto").val($.trim(data.Codice));
            //$("#NomeSoggetto").val($.trim(data.Nome));

        //})
    }

</script>

<script>
    GridSoggetti_OnRowSelect = function (e) {
        var data = this.dataItem(this.select());
        var myWindow = $("#cercasoggetti").data("kendoWindow");
        myWindow.close();
        $('#CodiceSoggetto').val(data.Codice);
        $('#NomeSoggetto').val(data.Nome);

        CaricaSoggetto(data.Codice);
    }
</script>


<script>

    function CercaElementiOnClick(e) {
        
        var myWindow = $("#cercasoggetti").data("kendoWindow");
        var codSoggetto = $('#CodiceSoggetto').val();
        myWindow.title("Cerca Elementi");
        myWindow.refresh({
            url: "/Fascicolo/CercaElementiSoggetto",
            type: "Post",
            data: { soggetto: codSoggetto}
        });
        myWindow.open().maximize();
    }

    GridElementi_OnRowSelect = function (e) {
        var data = this.dataItem(this.select());
        var myWindow = $("#cercasoggetti").data("kendoWindow");
        myWindow.close();
        $("#IdFascicolo").val($.trim(data.IdFascicolo));
        $("#IdElemento").val($.trim(data.IdElemento));
        $("#DescrizioneElemento").val($.trim(data.DscElemento));
    }
</script>
<script>
    function ApriDettaglioOnClick(e)  {
        e.preventDefault();
        var dialog = $("#detElemento").data("kendoWindow");

        $.ajax({
            url: '@Url.Action("editDettaglioElemento", "MailView")',
            type: 'POST',
                data: { IdElemento:  $("#IdElemento").val() },
            success: function(data) {
                dialog.content(data);
                dialog.open();

            }
        });
    }

    function detElementoClose(e) {

        @*var grid = $("#gridEmail").data("kendoGrid");
        var data = grid.dataItem(grid.select());

        PulisciDettaglio();

        $("#IdAllegato").val(data.Id);

        $.ajax({
            url: '@Url.Action("InArrivoCaricaDettaglio", "MailView")',
            type: 'POST',
            cache: false,
            data: { Id: data.Id },
            success: function (data) {
                var dettaglio = data;

                MostraDettaglio(dettaglio);
            },
            error: function (data) {

            }
         });*@
    }
</script>
<script>
    function AggiungiAElementoOnClick(e) {

        var gridall = $("#emailAttachments").data("kendoGrid");
        var items = '';
        var selectedElements = gridall.select();
        for (var j = 0; j < selectedElements.length; j++) {
            var item = gridall.dataItem(selectedElements[j]);
            items = items + item.NomeFile + ';';
        }
        var obj = {
            IdAllegato: $("#IdAllegato").val(),
            IdFascicolo: $("#IdFascicolo").val(),
            IdElemento: $("#IdElemento").val(),
            elencoFile: items,
            AllegaEmail: $("#allegamail").val(),
            Descrizione: $("#DescrizioneElemento").val()
        };
        $.ajax({
            url: '@Url.Action("AllegaAElementoFascicolo","MailView")',
            type: 'POST',
            data: obj,
            success: function (res) {
                if (res) {
                    //var w = $(this).closest("[data-role=window]").data("kendoWindow");
                    //w.close();
                }
            },
            error: function () {

            }
        });
    }
</script>
