

@using dblu.Portale.Plugin.Docs.ViewModels
@model EditorAttributiViewModel
@{

   // var lista = Model.Lista;
}

<h1>
    SONO L'EDITOR ATTRIBUTI
</h1>



@*<div class="row">
        <div class="col-md-6">
            <form class='form-horizontal'>
                <div class='card-body'>
                    <div class='form-group row'>
                        <label for='' class='col-sm-2 col-form-label'>@tipoelemento.DscChiave1</label>
                            <div class='col-sm-10'>
                                <input type='text' class='form-control' id='' placeholder='' value='@Model.Oggetto.Chiave1' disabled>
                            </div>
                    </div>
                    <div class='form-group row'>
                        <label for='' class='col-sm-2 col-form-label'>@tipoelemento.DscChiave2</label>
                            <div class='col-sm-10'>
                                <input type='datetime' class='form-control' id='' placeholder='' value='@Model.Oggetto.Chiave2' disabled>
                            </div>

                    </div>
                    <div class='form-group row'>
                        <label for='' class='col-sm-2 col-form-label'>@tipoelemento.DscChiave3</label>
                            <div class='col-sm-10'>
                                <input type='text' class='form-control' id='' placeholder='Nome' value='@Model.Oggetto.Chiave3' disabled>
                            </div>
                    </div>

                </div>
            </form>

        </div>
        <div class="col-md-6">
            <div class='form-group row'>
                <label for='' class='col-sm-2 col-form-label'>@tipoelemento.DscChiave4</label>
                    <div class='col-sm-10'>
                        <input type='text' class='form-control' id='' placeholder='' value='@Model.Oggetto.Chiave4' disabled>
                    </div>

            </div>
            <div class='form-group row'>
                <label for='' class='col-sm-2 col-form-label'>@tipoelemento.DscChiave5</label>
                    <div class='col-sm-10'>
                        <input type='datetime' class='form-control' id='' placeholder='' value='@Model.Oggetto.Chiave5' disabled>
                    </div>

            </div>
            <div class='form-group row'>
                    <label for='' class='col-sm-2 col-form-label'>Utente Ultima Modifica</label>
                    <div class='col-sm-10'>
                        <input type='text' class='form-control' id='' placeholder='Nome' value='@Model.Allegato.UtenteUM' disabled>
                    </div>
                </div>
        </div>
    </div>*@
