@model dblu.Portale.Plugin.Docs.ViewModels.EditorAllegatoViewModel
@inject dblu.Portale.Plugin.Docs.Services.ZipService _zipSer
@using Kendo.Mvc.UI
@using dblu.Docs.Classi
@using  dblu.Portale.Plugin.Docs.ViewModels
@addTagHelper *, Kendo.Mvc
@addTagHelper "*, Syncfusion.EJ2"

@{
    ViewBag.Title = "Allegato";
    bool isEdit = Model.IsEdit();
   
    IList<EmailAttachments> ListaFile = await _zipSer.GetZipFilesAsync(Model.Oggetto.Id.ToString());
   
}



@* Syncfusion Essential JS 2 Styles *@
<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

@* Syncfusion Essential JS 2 Scripts *@
<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

<script>
    ej.base.L10n.load({
        'it-IT': {
            'PdfViewer': {
                "PdfViewer": "Visualizzatore PDF",
                "Cancel": "Annulla",
                "Download file": "Download file",
                "Download": "Scarica",
                "Enter Password": "Questo documento è protetto da password. Per favore inserire una password.",
                "File Corrupted": "File corrotto",
                "File Corrupted Content": "Il file è danneggiato e non può essere aperto.",
                "Fit Page": "Adatta alla pagina",
                "Fit Width": "Adatta larghezza",
                "Automatic": "Automatico",
                "Go To First Page": "Mostra la prima pagina",
                "Invalid Password": "Password errata. Per favore riprova.",
                "Next Page": "Mostra la pagina successiva",
                "OK": "ok",
                "Open": "Apri il file",
                "Page Number": "Numero di pagina corrente",
                "Previous Page": "Mostra la pagina precedente",
                "Go To Last Page": "Mostra l'ultima pagina",
                "Zoom": "Ingrandisci",
                "Zoom In": "Ingrandire",
                "Zoom Out": "Rimpicciolire",
                "Page Thumbnails": "Miniature di pagina",
                "Bookmarks": "Segnalibri",
                "Print": "Stampa file",
                "Password Protected": "Password richiesta",
                "Copy": "Copia",
                "Text Selection": "Strumento di selezione del testo",
                "Panning": "Panning",
                "Text Search": "Trova testo",
                "Find in document": "Trova nel documento",
                "Match case": "Caso di corrispondenza",
                "Apply": "Applicare",
                "GoToPage": "Vai alla pagina",
                "No matches": "Il visualizzatore ha terminato la ricerca del documento. Non sono state trovate altre corrispondenze",
                "No Text Found": "Nessun testo trovato",
                "Undo": "Undo",
                "Redo": "Redo",
                "Annotation": "Aggiungi o modifica annotazioni",
                "Highlight": "Testo evidenziato",
                "Underline": "Sottolinea il testo",
                "Strikethrough": "Testo barrato",
                "Delete": "Elimina annotazione",
                "Opacity": "Opacità",
                "Color edit": "Cambia colore",
                "Opacity edit": "Cambia opacità",
                "Highlight context": "Evidenziare",
                "Underline context": "Sottolineare",
                "Strikethrough context": "Colpisci",
                "Server error": "Il servizio Web non è in ascolto. PDF Viewer dipende dal servizio web per tutte le sue funzionalità. Si prega di avviare il servizio Web per continuare.",
                "Open text": "Aperto",
                "First text": "Prima pagina",
                "Previous text": "Pagina precedente",
                "Next text": "Pagina successiva",
                "Last text": "Ultima pagina",
                "Zoom in text": "Ingrandire",
                "Zoom out text": "Zoom indietro",
                "Selection text": "Selezione",
                "Pan text": "Pan text",
                "Print text": "Stampa",
                "Search text": "Ricerca",
                "Annotation Edit text": "Modifica annotazione",
                "Line Thickness": "Spessore della linea",
                "Line Properties": "Proprietà linea",
                "Start Arrow": "Inizia la freccia",
                "End Arrow": "Freccia finale",
                "Line Style": "Stile di linea",
                "Fill Color": "Colore di riempimento",
                "Line Color": "Linea di colore",
                "None": "Nessuna",
                "Open Arrow": "Aperto",
                "Closed Arrow": "Chiuso",
                "Round Arrow": "Round",
                "Square Arrow": "Square",
                "Diamond Arrow": "Diamond",
                "Cut": "Tagliare",
                "Paste": "Incolla",
                "Delete Context": "Elimina",
                "Properties": "Proprietà",
                "Add Stamp": "Aggiungi timbro",
                "Add Shapes": "Aggiungi forme",
                "Stroke edit": "Cambia colore tratto",
                "Change thickness": "Cambia spessore del bordo",
                "Add line": "Aggiungi linea",
                "Add arrow": "Aggiungi freccia",
                "Add rectangle": "Aggiungi rettangolo",
                "Add circle": "Aggiungi cerchia",
                "Add polygon": "Aggiungi poligono",
                "Add Comments": "Aggiungi commenti",
                "Comments": "Commenti",
                "No Comments Yet": "Ancora nessun commento",
                "Accepted": "Accettato",
                "Accepted": "Accettato",
                "Completed": "Completato",
                "Cancelled": "Annullato",
                "Rejected": "Respinto",
                "Leader Length": "Lunghezza del leader",
                "Scale Ratio": "Rapporto di scala",
                "Calibrate": "Calibrare",
                "Calibrate Distance": "Calibra distanza",
                "Calibrate Perimeter": "Calibra perimetro",
                "Calibrate Area": "Calibra area",
                "Calibrate Radius": "Calibra raggio",
                "Calibrate Volume": "Calibra volume"
            }
        }
    });
</script>

<script>

    $(document).ready(function () {

        //$("#pdfviewer_comment").remove();
        var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
        pdfViewer.stickyNotesSettings.author = '@User.Identity.Name' //'@User.Identity.Name.Replace('.', ' ')';
        pdfViewer.strikethroughSettings.author = '@User.Identity.Name';
        pdfViewer.underlineSettings.author = '@User.Identity.Name';
        pdfViewer.highlightSettings.author = '@User.Identity.Name';
        pdfViewer.annotationSettings.author = '@User.Identity.Name';
        pdfViewer.freeTextSettings.author = '@User.Identity.Name';
    });

    function importAnnotations() {

        var emailpdfviewer = document.getElementById('pdfviewer').ej2_instances[0];
        emailpdfviewer.importAnnotations('');
    }

    function annotationAdd(e) {
        // alert("The signature is added to the PDF document successfully");
    }


    function saveAnnotations() {

        var emailpdfviewer = document.getElementById('pdfviewer').ej2_instances[0];
        emailpdfviewer.exportAnnotations();
    }

    function documentLoaded(args) {
        //alert("The document" + args.fileName + "is ready to view");
        importAnnotations()
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>
<script>
    window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';
</script>

<style>

    html body #pdfviewer {
        width: 100% !important;
    }
</style>


<script>
    function Files_OnRowSelect(arg) {

        var data = this.dataItem(this.select());

        var dataItem = this.dataItem(this.select());
        if (dataItem != null) {

            var IdAllegato = '@Model.Oggetto.Id';
            var nome = dataItem.NomeFile.toLowerCase();
            var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];

            var param = IdAllegato + ";" + nome;

            pdfViewer.load(param);
            pdfViewer.downloadFileName = nome;
        }
    }

    function ScaricaFile(e) {
        e.preventDefault();
        var data = this.dataItem($(e.currentTarget).closest("tr"));
        var nomefile = data.NomeFile;
        //var idAllegato = $("#IdAllegato").val()
        var idAllegato = '@Model.Oggetto.Id';
        var obj = {
            IdAllegato: idAllegato,
            NomeFile: nomefile
        }
        $.ajax( {
            url: '@Url.Action("ApriFile","Allegato" )',
            method: 'GET',
            xhrFields: {
                responseType: 'blob'
            },
            data: obj,
            success: function (data) {
                var a = document.createElement('a');
                var url = window.URL.createObjectURL(data);
                a.href = url;
                a.download = nomefile;
                document.body.append(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
                }
        });
    }


    function EliminaFile(e) {
        e.preventDefault();
        var data = this.dataItem($(e.currentTarget).closest("tr"));
        var nomefile = data.NomeFile;
        //var idAllegato = $("#IdAllegato").val()
        var idAllegato = '@Model.Oggetto.Id';
        var obj = {
            IdAllegato: idAllegato,
            NomeFile: nomefile
        }
        $.ajax( {
            url: '@Url.Action("EliminaFile", "Allegato" )',
            method: 'GET',
            xhrFields: {
                responseType: 'blob'
            },
            data: obj,
            success: function (data) {
                $("#gridFiles").data("kendoGrid").dataSource.read();
            },
             error: function (data) {
                alert(data);
            }
        });
    }


    function SubmitForm(frm, caller) {
        caller.preventDefault();

        var fdata = new FormData();
        var file = $("#files")[0].files[0];

        fdata.append("files", file);
        fdata.append("idAllegato", '@Model.Oggetto.Id');

        $.ajax(
            {
                type: "POST",
                data: fdata,
                url: "@(Url.Action("AddFileToZip", "Allegato"))",
                processData: false,
                contentType: false,
                success: function (data) {
                    $("#gridFiles").data("kendoGrid").dataSource.read();

                },
                error: function (data) {
                    alert(data);
                }
            });
    }

</script>

<section class="content-header" style="padding: 10px">
    <h1>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Allegato</li>
    </ol>
</section>

<br>

@if (Model.IsInsideTask)
{
    <form method="post">
        <button style="margin-left:30px" formaction='@Model.UrlRefer'
                formmethod="post" class="btn btn-app">
            <i class="fa fa-backward"></i> Indietro
        </button>

    </form>
}
else
{
    <form action="@Model.UrlRefer" method="get">
        <button style="margin-left:30px" type="submit" class="btn btn-app">
            <i class="fa fa-backward"></i> Indietro
        </button>
    </form>

}

<script>
    $('#return').click(function (evt) {

        window.history.back();
    });
</script>


<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="box box-">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">Dati Allegato</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <!-- /.card-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form class='form-horizontal'>
                                <div class='card-body'>
                                    <div class='form-group row'>
                                        <label for='' class='col-sm-2 col-form-label'>ID Allegato</label>
                                        <div class='col-sm-10'>
                                            <input type='text' class='form-control' id='' placeholder='' value='@Model.Oggetto.Id' disabled>
                                        </div>
                                    </div>
                                    <div class='form-group row'>
                                        <label for='' class='col-sm-2 col-form-label'>Creato il</label>
                                        <div class='col-sm-10'>
                                            <input type='datetime' class='form-control' id='' placeholder='' value='@Model.Oggetto.DataC' disabled>
                                        </div>

                                    </div>
                                    <div class='form-group row'>
                                        <label for='' class='col-sm-2 col-form-label'>Utente Creazione</label>
                                        <div class='col-sm-10'>
                                            <input type='text' class='form-control' id='' placeholder='Nome' value='@Model.Oggetto.UtenteC' disabled>
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>
                        <div class="col-md-6">
                            <div class='form-group row'>
                                <label for='' class='col-sm-2 col-form-label'>Descrizione</label>
                                <div class='col-sm-10'>
                                    <input type='text' class='form-control' id='' placeholder='' value='@Model.Oggetto.Descrizione' disabled>
                                </div>

                            </div>
                            <div class='form-group row'>
                                <label for='' class='col-sm-2 col-form-label'>Modificato il</label>
                                <div class='col-sm-10'>
                                    <input type='datetime' class='form-control' id='' placeholder='' value='@Model.Oggetto.DataUM' disabled>
                                </div>

                            </div>
                            <div class='form-group row'>
                                <label for='' class='col-sm-2 col-form-label'>Utente Ultima Modifica</label>
                                <div class='col-sm-10'>
                                    <input type='text' class='form-control' id='' placeholder='Nome' value='@Model.Oggetto.UtenteUM' disabled>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                        <!-- /.col (right) -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box box-">
                    <div class="box-header">

                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Gestione Allegato</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            @foreach (var attributo in Model.Oggetto.elencoAttributi.ToList().OrderBy(f => (f.Sequenza)))
                            {


                                @if (attributo.Visibilità != dblu.Docs.Classi.Visibilita_Attributi.HIDDEN)
                                {
                                    <div class='form-group row'>
                                        <div class='col-sm-4'>  @Html.Label($"lbl_{attributo.Nome}", attributo.Descrizione) </div>
                                        <div class='col-sm-8'>

                                            @switch (attributo.Tipo)

                                            {
                                                case "System.DateTime":
                                                    bool xEditable = (attributo.Visibilità == Visibilita_Attributi.EDITABLE && isEdit == true) ? true : false;
                                                    @(Html.Kendo().DatePicker()
                                                            .Name($"ctl_{attributo.Nome}")
                                                            .Enable(xEditable)
                                                            .Value(Model.Oggetto.elencoAttributi.GetDateTime(attributo.Nome))
                                                    )
                                                    break;
                                                case "System.Boolean":
                                                    xEditable = (attributo.Visibilità == Visibilita_Attributi.EDITABLE && isEdit == true) ? true : false;
                                                    bool xx = attributo.Valore == null ? false : (bool)Model.Oggetto.elencoAttributi.GetBoolean(attributo.Nome);
                                                    @(Html.Kendo().Switch()
                                                          .Name($"ctl_{attributo.Nome}")
                                                          .Enabled(xEditable)
                                                          .Messages(c => c.Checked("Si").Unchecked("No"))
                                                          .Checked(xx)
                                                    )
                                                    break;
                                                default:
                                                    xEditable = (attributo.Visibilità == Visibilita_Attributi.EDITABLE && isEdit == true) ? true : false;
                                                    @(Html.Kendo().TextBox()
                                                          .Name($"ctl_{attributo.Nome}")
                                                          .Enable(xEditable)
                                                          .Value(attributo.Valore == null ? "" : attributo.Valore.ToString())
                                                          .HtmlAttributes(new { style = "width: 100%" })
                                                    )
                                                    break;
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="box box-">
                    <div class="box-header">

                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Allegati</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>


                    <div class="box-body">
                        <div class="form-group" style="margin-top:10px">
                            <div class="col-md-12">
                                @*Griglia con l'elenco dei file presenti nello zip. Se non è uno zip non mostrare solo il file legato a questo allegato*@
                                @(Html.Kendo().Grid<EmailAttachments>()
                            .Name("gridFiles")
                            //.PersistSelection()
                            .Selectable()
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.NomeFile).Title("Nome ").Width("100%");
                                columns.Command(command =>
                                {
                                    command.Custom("download").Text(" ").Click("ScaricaFile").IconClass("k-icon k-i-download");
                                    command.Custom("elimina").Text(" ").Click("EliminaFile").IconClass("k-icon k-i-delete");
                                }).Width("10%");
                            })
                            .BindTo(ListaFile)
                            .HtmlAttributes(new { style = "font-size:12" })
                            .Events(events => events.Change("Files_OnRowSelect"))
                            )
                            </div>
                        </div>
                        @if (isEdit)
                        {
                            //Possibilità di aggiungere un file allo zip ---- solo se allegato di tipo Zip?
                            <div class="form-group" style="margin-top:10px">

                                <div class="col-md-12" style="width:100%">
                                    @*action da verificare*@
                                    <form class="col-md-12" method="post" action="/Allegato/AddFile" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <input class="form-control-file col-md-8" name="files" id="files" type="file" aria-label="files" />
                                            <p style="text-align: right">
                                                <button type="submit" class="k-button k-primary  col-md-2" onclick="SubmitForm(this.parentElement, event)">Aggiungi</button>
                                            </p>
                                        </div>
                                    </form>
                                    <br /><br />
                                </div>
                            </div>
                        }

                    </div>
                    @*Visualizzazione dei file*@
                    <div class="form-group" style="margin-top:10px">
                        <div class="col-md-12" style="width:100%" id="anteprimapdf">
                            @*cosa facciamo con le annotazioni??*@
                            <button type="button" onclick="saveAnnotations();" class="btn btn-success btn-lg">Salva Annotazioni</button>
                            <br />
                            <br />
                            <ejs-pdfviewer id="pdfviewer" serviceUrl="/api/ZipPdfViewer" documentPath=""
                                           enablePrint="true"
                                           documentLoad="documentLoaded"
                                           annotationAdd="annotationAdd"
                                           enableStampAnnotations="false"
                                           locale="it-IT"
                                           downloadFileName="@string.Concat("",".pdf")" height="900px">
                            </ejs-pdfviewer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<ejs-scripts></ejs-scripts>
