@model dblu.Docs.Models.EmailServer
@using dblu.Portale.Core.Infrastructure.Identity.Classes

@using dblu.Portale.Plugin.Docs.ViewModels
@using Kendo.Mvc.UI
@{
    bool Tipo;
    if (Model.TipoRecord == dblu.Docs.Models.TipiRecordServer.CartellaMail) Tipo = true;
    else Tipo = false;
}

<section class="content-header">
    @if (Model.TipoRecord == dblu.Docs.Models.TipiRecordServer.CartellaMail)
    {<h1>Dettaglio server mail:  @(Model.Nome)</h1>}
    else
    { <h1>Dettaglio cartella:  @(Model.Nome)</h1>}
    <ol class="breadcrumb">
        <li><a href="/Index"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="/Docs/ServersEmail">Server Email</a></li>
        <li class="active">Dettaglio</li>
    </ol>
</section>
<section class="content">
    <!-- Main row -->
    <div class="row">
        <div class="box-body">
            <form class="form-horizontal" role="form" method="post">
                <div class="form-group">
                    <label class="control-label col-md-2">Nome</label>
                    <div class="col-md-10" style="width:20%">
                        <input type="text"
                               name="Nome"
                               class="form-control" value="@Model.Nome" />
                    </div>
                </div>
                @if (Model.TipoRecord == dblu.Docs.Models.TipiRecordServer.CartellaMail)
                {
                    <div class="form-group">
                        <label class="control-label col-md-2">Email</label>
                        <div class="col-md-10" style="width:50%">
                            <input type="text"
                                   name="Email"
                                   class="form-control" value="@Model.Email" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Server</label>
                        <div class="col-md-10" style="width:50%">
                            <input type="text"
                                   name="Server"
                                   class="form-control" value="@Model.Server" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Porta</label>
                        <div class="col-md-10" style="width:50%">
                            <input type="text"
                                   name="Porta"
                                   class="form-control" value="@Model.Porta" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">SSL</label>
                        <div class="col-md-10" style="width:50%">
                            @(Html.Kendo().Switch()
.Name("Ssl")
.Messages(c => c.Checked("Si").Unchecked("No"))
.Checked(@Model.Ssl)
                        )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Cartella</label>
                        <div class="col-md-10" style="width:50%">
                            <input type="text"
                                   name="Cartella"
                                   class="form-control" value="@Model.Cartella" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Utente</label>
                        <div class="col-md-10" style="width:50%">
                            <input type="text"
                                   name="Utente"
                                   class="form-control" value="@Model.Utente" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Password</label>
                        <div class="col-md-10" style="width:50%">
                            <input type="text"
                                   name="Password"
                                   class="form-control" value="@Model.Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Intervallo</label>
                        <div class="col-md-10" style="width:50%">
                            <input type="text"
                                   name="Intervallo"
                                   class="form-control" value="@Model.Intervallo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Attivo</label>
                        <div class="col-md-10" style="width:50%">
                            @(Html.Kendo().Switch()
.Name("Attivo")
.Messages(c => c.Checked("Si").Unchecked("No"))
.Checked(@Model.Attivo)
                        )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Cartella Archivio</label>
                        <div class="col-md-10" style="width:50%">
                            <input type="text"
                                   name="CartellaArchivio"
                                   class="form-control" value="@Model.CartellaArchivio" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2">In Uscita</label>
                        <div class="col-md-10" style="width:50%">
                            @(Html.Kendo().Switch()
.Name("InUscita")
.Messages(c => c.Checked("Si").Unchecked("No"))
.Checked(@Model.InUscita)
                        )
                        </div>
                    </div>
                    @if (!Model.InUscita)
                    {
                        <div class="form-group">
                            <label class="control-label col-md-2">Server in Uscita</label>
                            <div class="col-md-10" style="width:50%">
                                @(Html.Kendo().DropDownListFor(m => Model.NomeServerInUscita)

.DataTextField("Nome")
.DataValueField("Nome")

.BindTo((System.Collections.IEnumerable)ViewData["ServerInUscita"])

.HtmlAttributes(new { style = "width: 100%" })
                            )


                            </div>
                        </div>
                    }


                    <div class="form-group">
                        <label class="control-label col-md-2">Nome Processo </label>
                        <div class="col-md-10" style="width:50%">
                            <input type="text"
                                   name="NomeProcesso"
                                   class="form-control" value="@Model.NomeProcesso" />
                        </div>
                        <div class="col-md-2">
                            <button formaction="/Docs/SalvaEmailServer" method="post" type="submit" margin class="btn btn-info pull-left">Salva</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label class="control-label col-md-2">Cartella</label>
                        <div class="col-md-10" style="width:50%">
                            <input type="text"
                                   name="Cartella"
                                   class="form-control" value="@Model.Cartella" />
                        </div>
                        <div class="col-md-2">
                            <button formaction="/Docs/SalvaEmailServer" method="post" type="submit" margin class="btn btn-info pull-left">Salva</button>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label class="control-label col-md-2">TipoRecord</label>
                    <div class="col-md-10" style="width:50%">
                        @(Html.Kendo().Switch()
.Name("TipoRecord2")
.Messages(c => c.Checked("MAIL").Unchecked("FILE"))
.Events(ev => ev.Change("onChangeSwitch"))
.Checked(@Tipo)
                        )
                    </div>
                </div>
                <div class="form-group" style="visibility: hidden;">
                    <label class="control-label col-md-1">TipoRecord</label>
                    <div class="col-md-1" style="width:0%">
                        <input type="text"
                               id="TipoRecord"
                               name="TipoRecord"
                               class="form-control" value="@Model.TipoRecord" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="box box-solid box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">Ruoli abilitati</h3>
                            <div class="box-tools pull-right">
                            </div>
                        </div>

                        <br />

                        @(Html.Kendo().Grid<Role>
()
.Name("GridRuoli")
.Columns(columns =>
{

    columns.Bound(c => c.Code).Width(180).Title("COD");
    columns.Bound(c => c.Name).Title("Descrizione");
    columns.Command(command => command.Destroy()).Width(190);
})
.ToolBar(toolbar =>
{
    toolbar.Custom().Text("Aggiungi ruolo").HtmlAttributes(new { id = "AddRuolo" });
})
.Scrollable(scr => scr.Height(430))
.Sortable()
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)
.ButtonCount(5))

.DataSource(dataSource => dataSource
.Ajax()

.PageSize(20)
.Batch(true)
.Events(events => events.Error("error_handler"))
.AutoSync(true)
.ServerOperation(false)
.Model(model =>
{
    model.Id(p => p.RoleId);
    model.Field(p => p.Code);
    model.Field(p => p.Name);
    model.Field(p => p.Position);
})
.Read("RuoliServer", "Docs", new { ServerName = Model.Nome })
.Destroy("RemoveFromRole", "Docs", new { ServerName = Model.Nome })
)
                        )

                    </div>
                </div>

            </form>

        </div>
        @(Html.Kendo().Window()
                .Name("window")
                .Title("Ruoli Disponibili")
                .Modal(true)
                .Actions(actions => actions
                    .Custom("custom")
                    .Minimize()
                    .Maximize()
                    .Close()
                )
                .Content(@<text>
                                    @(Html.Kendo().Grid<Role>()
.Name("SelectRuoli")
.Columns(columns =>
{
    columns.Select().Width(50);
    columns.Bound(c => c.Code).Width(180).Title("COD");
    columns.Bound(c => c.Name).Title("Descrizione");

})
.Scrollable(scr => scr.Height(430))
.Sortable()
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)
.ButtonCount(5))

.DataSource(dataSource => dataSource
.Ajax()

.PageSize(20)
.Batch(true)
.Events(events => events.Error("error_handler"))
.Model(model =>
{
    model.Id(p => p.RoleId);
})
.Read("RuoliNonAttivi", "Docs", new { ServerName = Model.Nome })


)
                                    )
                                    <div>
                                        <span id="Annulla" class="k-button">Annulla</span>
                                        <span id="OK" class="k-button">OK</span>
                                    </div>
                        </text>)
.Draggable()
.Resizable()
.Width(500)
.Visible(false)
        )


    </div>

    <script type="text/javascript">
            function error_handler(e) {
                if (e.errors) {
                    var message = "Errors:\n";
                    $.each(e.errors, function (key, value) {
                        if ('errors' in value) {
                            $.each(value.errors, function () {
                                message += this + "\n";
                            });
                        }
                    });
                    alert(message);
                }
            }

            $(document).ready(function() {
                var myWindow = $("#window");

                $("#AddRuolo").bind("click", function () {

                    $("#SelectRuoli").data("kendoGrid").dataSource.read();
                    myWindow.data("kendoWindow").open().element.closest(".k-window").css({
                        top: 55,
                        left: 150
                     });
                     //.open();
                });

               myWindow.data("kendoWindow").wrapper
                    .find(".k-i-custom").parent().click(function (e) {
                        alert("Custom action button clicked");
                        e.preventDefault();
                    });

            });

           $(function () {
             $('#OK').click(function () {
                 var items = {};
                 var grid = $('#SelectRuoli').data('kendoGrid');


                 if (grid === undefined) {

                 }
                 else {
                     var selectedElements = grid.select();
                     for (var j = 0; j < selectedElements.length; j++) {
                         var item = grid.dataItem(selectedElements[j]);
                         items['Rol[' + j + '].idServer'] = "@Model.Nome";
                         items['Rol[' + j + '].RoleId'] = item.RoleId;
                      }
                 }

                  if (item === undefined) {
                        //ShowPopup();
                    } else {

                          $.ajax({
                          type: "POST",
                          data: items,
                          url: "@(Url.Action("AddRoleToServer", "Docs"))",

                          success: function (result) {

                              $("#GridRuoli").data("kendoGrid").dataSource.read();

                          }
                      });

                 }
                  $(this).closest("[data-role=window]").data("kendoWindow").close();



             })
            $('#Annulla').click(function () {
                $(this).closest("[data-role=window]").data("kendoWindow").close();
            })

           })
        function onChangeSwitch(e) {
            var r = e.checked;
            if (r) {
                document.getElementById("TipoRecord").value = "CartellaMail";
            }
            else {
                document.getElementById("TipoRecord").value = "CartellaFile";
            }
    
        }
    </script>


</section>